

@media only screen and (min-width: 1024px) and (max-width: 1300px) {

    .imageshape {
        background-image:none;
        padding-bottom: 5%;

    }

    
    .imageshape2 {
        background-image:none;
        padding-bottom: 5%;

    }


    
    .imageshape3 {
        background-image:none;
        padding-bottom: 5%;

    }

    .font-size-20 {
        font-size: 15px !important;
    }
    
    .imageshape4 {
        background-image:none;
        padding-bottom: 5%;

    }
    .hospitals_item_box .btn {
        background-color: #fff;
        border: none;
        color: #110B56;
        padding: 4px 19px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        font-weight: 800;
        box-shadow: 4px 4px 19px #ccc;
        border-radius: 30px;
    }

    .loge-cure p {
        padding: 10px;
        font-weight: 600;
        font-size: 10px;
    }

    .span1 {
        padding-right: 98px !important;
        position: relative;
        top: 10px;
        font-size: 12px;
    }

    .cure_span_pad i {
        color: #6FA65C;
        font-size: 16px;
    }

    .hospitals_item_box b {
        font-size: 12px;
        font-weight: 600;
        margin-top: 6px;
        display: block;
    }

    .hospitals_item_box p {
        color: #676E89;
        font-size: 13px;
        margin-top: 3px !important;
    }

    .hospital_welcome p {
        color: #676E89;
        font-size: 10px;
    }

    .countof p {
        color: #676E89;
        font-size: 10px;
        font-weight: 400;
        padding-top: 5px;
    }

    .avatar2-96 {
        width: 26px;
    }

    ul.doctoe-sedual li {
        list-style: none;
        flex: 1;
        border-left: 1px solid rgba(0, 0, 0, .1);
        border: none;
    }

    .countof p {
        color: #676E89;
        font-size: 9px;
        font-weight: 400;
        padding-top: 5px;
    }

    .pharmacyy h5 {
        color: #000;
        font-size: 12px;
        font-weight: 600;
        padding-top: 11px;
    }

    .pharmacyy h5 {
        color: #000;
        font-size: 13px;
        font-weight: 600;
        padding-top: 41px;
    }

    .pharmacyy p {
        font-size: 10px;
        color: #676E89;
        margin-bottom: 0px;
    }

    .innerdiv ul {
        margin-left: 0px;
        padding-left: 0px;
    }

    .medwidth h4 a {
        font-size: 9px;
        color: #110B56 !important;
    }


    .paddingbot table{

        margin-bottom: -37px;}

}




@media only screen and (min-width: 990px) and (max-width: 1024px) {
    .imageshape {
        background-image:none;
        padding-bottom: 5%;

    }

    
    .imageshape2 {
        background-image:none;
        padding-bottom: 5%;

    }


    
    .imageshape3 {
        background-image:none;
        padding-bottom: 5%;

    }

    .font-size-20 {
        font-size: 15px !important;
    }
    
    .imageshape4 {
        background-image:none;
        padding-bottom: 5%;

    }

    
    .hospitals_item_box .btn {
        background-color: #fff;
        border: none;
        color: #110B56;
        padding: 4px 19px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        font-weight: 800;
        box-shadow: 4px 4px 19px #ccc;
        border-radius: 30px;
    }

    .loge-cure p {
        padding: 10px;
        font-weight: 600;
        font-size: 10px;
    }

    .span1 {
        padding-right: 98px !important;
        position: relative;
        top: 10px;
        font-size: 12px;
    }

    .cure_span_pad i {
        color: #6FA65C;
        font-size: 16px;
    }

    .hospitals_item_box b {
        font-size: 12px;
        font-weight: 600;
        margin-top: 6px;
        display: block;
    }

    .hospitals_item_box p {
        color: #676E89;
        font-size: 13px;
        margin-top: 3px !important;
    }

    .hospital_welcome p {
        color: #676E89;
        font-size: 10px;
    }

    .countof p {
        color: #676E89;
        font-size: 10px;
        font-weight: 400;
        padding-top: 5px;
    }

    .avatar2-96 {
        width: 26px;
    }

    ul.doctoe-sedual li {
        list-style: none;
        flex: 1;
        border-left: 1px solid rgba(0, 0, 0, .1);
        border: none;
    }

    .countof p {
        color: #676E89;
        font-size: 9px;
        font-weight: 400;
        padding-top: 5px;
    }

    .pharmacyy h5 {
        color: #000;
        font-size: 13px;
        font-weight: 600;
        padding-top: 11px;
    }



    .innerdiv ul {
        margin-left: 0px;
        padding-left: 0px;
    }

    .medwidth h4 a {
        font-size: 9px;
        color: #110B56 !important;
    }


    .paddingbot table{

        margin-bottom: -37px;}


        .pharmacyy h5 {
            color: #000;
            font-size: 13px;
            font-weight: 600;
            padding-top: 11px;
        }

}




@media only screen and (min-width: 767px) and (max-width: 990px) {


    .cont {
        background-color: #f6f4f4;
        padding-top: 18px;
    }
    
    .karatab {
 
        height: auto;
      
    }

    .imageshape {
        background-image:none;
        padding-bottom: 5%;

    }

    
    .imageshape2 {
        background-image:none;
        padding-bottom: 5%;

    }

    .imgshape {
        width: 66%;
        text-align: right;
        float: right;
        padding: 12px;
        margin-right: 28px;
        margin-top: 4px;
    }
    
    .imageshape3 {
        background-image:none;
        padding-bottom: 5%;

    }

    .font-size-20 {
        font-size: 15px !important;
    }
    
    .imageshape4 {
        background-image:none;
        padding-bottom: 5%;

    }

    .btn.btn-primary {
        background: #3e64ff;
        border-color: #3e64ff;
        padding: 7px;
    }

    .paddingmrg {
        padding-right: 4px;
    }

    .hospitals_item_box .btn {
        background-color: #fff;
        border: none;
        color: #110B56;
        padding: 4px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 8px;
        font-weight: 800;
        box-shadow: 4px 4px 19px #ccc;
        border-radius: 30px;
    }

    .loge-cure p {
        padding: 10px;
        font-weight: 600;
        font-size: 7px;
    }

    .span1 {
        padding-right: 20px !important;
        position: relative;
        top: 10px;
        font-size: 10px;
    }

    .cure_span_pad i {
        color: #6FA65C;
        font-size: 14px;
    }

    .hospitals_item_box b {
        font-size: 12px;
        font-weight: 600;
        margin-top: 6px;
        display: block;
    }

    .hospitals_item_box p {
        color: #676E89;
        font-size: 13px;
        margin-top: 3px !important;
    }

    .hospital_welcome p {
        color: #676E89;
        font-size: 8px;
    }

    .countof p {
        color: #676E89;
        font-size: 6px;
        font-weight: 400;
        padding-top: 5px;
    }

    .avatar2-96 {
        width: 26px;
    }

    ul.doctoe-sedual li {
        list-style: none;
        flex: 1;
        border-left: 1px solid rgba(0, 0, 0, .1);
        border: none;
    }

    .countof p {
        color: #676E89;
        font-size: 6px;
        font-weight: 400;
        padding-top: 5px;
    }

    .pharmacyy h5 {
        color: #000;
        font-size: 13px;
        font-weight: 600;
        padding-top: 11px;
    }

    .pharmacyy h5 {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        padding-top: 11px;
    }

    .innerdiv ul {
        margin-left: 0px;
        padding-left: 0px;
    }

    .medwidth h4 a {
        font-size: 9px;
        color: #110B56 !important;
    }

    .pharmacyy p {
        font-size: 9px;
        color: #676E89;
        margin-bottom: 0px;
    }
    .paddingbot table{

        margin-bottom: -37px;}


        .pharmacyy h5 {
            color: #000;
            font-size: 10px;
            font-weight: 600;
            padding-top: 24px;
        }

        .hospitals_item_box img {
            width: 88%;
        }

        .hospitals_item_box b {
            font-size: 8px;
            font-weight: 600;
            margin-top: 6px;
            display: block;
        }


        .avatar-130 {
            height: 110px;
            width: 110px;
            line-height: 130px;
            font-size: 1.6rem;
        }

        .userimg img {
            width: 40px;
            display: none;
        }

        .box_today h2 {
            font-size: 11px;
            font-weight: 600 !important;
            color: #110B56;
        }

        .viewde {
            text-align: center;
            margin: 0 auto;
            justify-content: center;
            display: flex;
            color: #0A42D1;
            font-size: 11px;
            padding-bottom: 0px;
        }

        .pharmacyy a {
            color: #0A42D1;
            font-size: 10px;
            font-weight: 600;
        }


}


@media only screen and (min-width: 320px) and (max-width: 767px) {
    .cont {
        background-color: #f6f4f4;
        padding-top: 18px;
    }

    .profilemeny .btn {
        line-height: 10px !important;
        display: inline-block;
        padding: 0 25px;
        cursor: pointer;
        font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
        color: #000;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        font-size: 14px;
        font-weight: 700;
    }


    .karatab {
 
        height: auto;
      
    }



    .serchaction {
        background-color: #fff;
        box-shadow: 1px 1px 8px #C4C4C4;
        border-radius: 6px;
        display: flex;
        margin-top: 10px;
    }


    .topnav input[type="text"] {
        padding: 8px 14px;
        font-size: 15px;
        border: none;
        width: 100%;
        border-radius: 6px;
        color: #A8AEC8;
        margin-left: 7px;
        /* float: left; */
    }




    .topnav a, .topnav input[type="text"], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width:inherit;
        margin: 0;
        padding: 9px;
    }

    .topnav input[type="text"] {
        padding: 12px 20px;
        font-size: 15px;
        border: none;
        width: 100%;
        border-radius: 6px;
        color: #A8AEC8;
        margin-left: 7px;
    }


    .cure-taballapp {
        font-size: 11px;
        font-weight: 600;
        /* padding-left: 12px; */
        padding-top: 2px;
        margin: 0px;
    }

    .imageshape {
        background-image:none;
        padding-bottom: 5%;

    }

    
    .imageshape2 {
        background-image:none;
        padding-bottom: 5%;

    }


    
    .imageshape3 {
        background-image:none;
        padding-bottom: 5%;

    }

    .font-size-20 {
        font-size: 15px !important;
    }
    
    .imageshape4 {
        background-image:none;
        padding-bottom: 5%;

    }


    .allappoiments p {
        font-size: 12px;
        font-weight: normal;
        color: #202020;
        margin-left: 0px;
        margin-top: 6px;
    }


    .imgshape {
        width: 33%;
        text-align: right;
        float: right;
        padding: 12px;
        margin-right: 28px;
        margin-top: 4px;
    }

   
    
/* All Appoinments_page_design_res */


.breadcrumbpro li:first-child a {
	padding-left: 8px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 0 0 4px;
}

.breadcrums {
	margin-top: 0px;
	margin-bottom: 0;
}

.breadcrumbpro .breadcrumb-item.active {
	color: #000;
	justify-content: center;
	display: flex;
	align-content: center;
	line-height: 39px;
	padding-left: 0px;
	font-size: 12px;
}


.breadcrumbpro img {
	width: 26px;
}


.allappoiments .card {
	border: initial;
	background: #fffffffa;
	border-radius: 8px;
	box-shadow: none !important;
	padding: 0px 0px 19px 33px;
	margin-bottom: 10px;
}


    .btn.btn-primary {
        background: #3e64ff;
        border-color: #3e64ff;
        padding: 7px;
    }
    
    .pharmacyy a {
        color: #0A42D1;
        font-size: 10px;
        font-weight: 600;
    }

    .pharmacyy p {
        font-size: 8px;
        color: #676E89;
        margin-bottom: 0px;
    }


.span_icons .fa-user-cog{ display: none;}


.userimg {
	width: 19px;
	margin-top: 6px;
}

.cure-box-pad b {
	font-size: 9px;
	font-weight: normal;
}


.mt-3, .my-3 {
	margin-top: 0rem !important;
}

.hospitals_item_box .btn {
	background-color: #fff;
	border: none;
	color: #110B56;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 9px;
	font-weight: 800;
	box-shadow: 4px 4px 19px #ccc;
	border-radius: 30px;
}

.hospitals_item_box b {
	font-size: 11px;
	font-weight: 600;
	margin-top: 6px;
	display: block;
}

.hospitals_item_box p {
	color: #676E89;
	font-size: 13px;
	margin-top: 3px !important;
}

.usertext p {
	font-size: 10px;
	margin-bottom: -4px;
}

    .hospitals_item_box img {
        width: 14%;
    }
    .cure-box-pad h1 {
        font-size: 12px;
        font-weight: bold;
        margin-top: 22px;
    }

.cure_span_pad i {
	color: #6FA65C;
	font-size: 15px;
}

.cure_span_pad span {
	padding-right: 9px;
}

.hospitals_dashbord {
	padding-left: 5px; 
	padding-right: 5px; 
}

.loge-cure button{padding: 10px 14px;}

.loge-cure{ width: 15%;}

.logs{ width: 80% !important;}

.logs{ width: 80% !important;}

.pharmacyy h5 {
	color: #000;
font-size: 13px;
font-weight: 600;
padding-top: 0px;
}

.phra_cure .card {
	border: initial;
	background: #fffffffa;
	/* border-radius: 0; */
	box-shadow: 4px 8px 11px rgb(0 0 0 / 1%), 0 4px 5px rgb(0 0 0 / 1%);
	border-radius: 20px;
    margin-top: 10px;
}

.pharmacyy{ padding: 8px 38px;}


.medwidth h4 a {
	font-size: 9px;
	color: #110B56 !important;
	margin-top: 11px;
	display: block;
}

.box_today h2 {
	font-size: 12px;
	font-weight: 600 !important;
	color: #110B56;
}


.hospital_welcome p {
	color: #676E89;
	font-size: 10px;
}

.hospital_welcome b{ font-size: 9px;}

.countof p {
	color: #676E89;
	font-size: 8px;
	font-weight: 400;
	padding-top: 5px;
}

.countof h3 {
	color: #110B56;
	font-size: 10px;
	font-weight: 600;
}

.sales-card img{ 
	width: 150px;
	text-align: center;
	margin: 0 auto;
	align-items: center;
	display: flex;
}



    .span1 {
        padding-right: 98px !important;
        position: relative;
        top: 7px;
        display: none;
    }

    .loge-cure p {
       display: none;
    }


    .span1 {
        padding-right: 0px !important;
        position: relative;
        top: 7px;
        display: none;
    }


    
    .pharmacyy a {
        color: #0A42D1;
        font-size: 10px;
        font-weight: 600;
    }

    .pharmacyy p {
        font-size: 8px;
        color: #676E89;
        margin-bottom: 0px;
    }


.span_icons .fa-user-cog{ display: none;}


.userimg {
	width: 19px;
	margin-top: 6px;
}

.cure-box-pad b {
	font-size: 9px;
	font-weight: normal;
}


.mt-3, .my-3 {
	margin-top: 0rem !important;
}

.hospitals_item_box .btn {
	background-color: #fff;
	border: none;
	color: #110B56;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 9px;
	font-weight: 800;
	box-shadow: 4px 4px 19px #ccc;
	border-radius: 30px;
}

.hospitals_item_box b {
	font-size: 11px;
	font-weight: 600;
	margin-top: 6px;
	display: block;
}

.hospitals_item_box p {
	color: #676E89;
	font-size: 13px;
	margin-top: 3px !important;
}

.usertext p {
	font-size: 10px;
	margin-bottom: -4px;
}

    .hospitals_item_box img {
        width: 30%;
    }
    .cure-box-pad h1 {
        font-size: 12px;
        font-weight: bold;
        margin-top: 22px;
    }

.cure_span_pad i {
	color: #6FA65C;
	font-size: 15px;
}

.cure_span_pad span {
	padding-right: 9px;
}

.hospitals_dashbord {
	padding-left: 5px; 
	padding-right: 5px; 
}

.loge-cure button{padding: 10px 14px;}

.loge-cure{ width: 15%;}

.logs{ width: 80% !important;}

.logs{ width: 80% !important;}

.pharmacyy h5 {
	color: #000;
font-size: 13px;
font-weight: 600;
padding-top: 0px;
}

.phra_cure .card {
	border: initial;
	background: #fffffffa;
	/* border-radius: 0; */
	box-shadow: 4px 8px 11px rgb(0 0 0 / 1%), 0 4px 5px rgb(0 0 0 / 1%);
	border-radius: 20px;
    margin-top: 10px;
}

.pharmacyy{ padding: 8px 38px;}


.medwidth h4 a {
	font-size: 9px;
	color: #110B56 !important;
	margin-top: 11px;
	display: block;
}

.box_today h2 {
	font-size: 12px;
	font-weight: 600 !important;
	color: #110B56;
}


.hospital_welcome p {
	color: #676E89;
	font-size: 10px;
}

.hospital_welcome b{ font-size: 9px;}

.countof p {
	color: #676E89;
	font-size: 8px;
	font-weight: 400;
	padding-top: 5px;
}

.countof h3 {
	color: #110B56;
	font-size: 10px;
	font-weight: 600;
}

.sales-card img{ 
	width: 150px;
	text-align: center;
	margin: 0 auto;
	align-items: center;
	display: flex;
}

.userimg{ width: 55px;}

.pharama img{ display: none;}
    
}













@media only screen and (min-width: 320px) and (max-width: 450px) {

    .mt-4, .my-4 {
        margin-top: 0.5rem !important;
    }

    .rescheduleappointment {
        width: 11px;
        margin-left: 20px;
    }

    .notifications_bc h3 {
        font-size: 6px;
        font-weight: normal;
        padding-left: 10px;
    }

    .cure-noti {
        width: 21px !important;
    }

    .notifications_bc p {
        font-size: 8px;
    }

    .userimg img {
        width: 30px;
    }


    .invoiceup [data-tooltip]::before {
        content: attr(data-tooltip);
        display: block;
        position: absolute;
        top: -250%;
        left: 0;
        margin-left: -5.75em;
        /* width: 11em; */
        text-align: center;
        border-radius: 4px;
        background: #227405;
        color: white;
        font-size: 0.8em;
        line-height: 1.1;
        padding: 0.75em 0.95em;
        z-index: 1000000;
    }


    .profilemeny .btn {
        line-height: 0px !important;
        display: inline-block;
        padding: 0 25px;
        cursor: pointer;
        font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
        color: #fff;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        font-size: 14px;
        font-weight: 700;
    }


    .karatab {
 
        height: auto;
      
    }

    .pharmacyy a {
        color: #0A42D1;
        font-size: 10px;
        font-weight: 600;
    }

    .pharmacyy p {
        font-size: 8px;
        color: #676E89;
        margin-bottom: 0px;
    }


.span_icons .fa-user-cog{ display: none;}


.userimg {
	width: 19px;
	margin-top: 6px;
}

.cure-box-pad b {
	font-size: 9px;
	font-weight: normal;
}


.mt-3, .my-3 {
	margin-top: 0rem !important;
}

.hospitals_item_box .btn {
	background-color: #fff;
	border: none;
	color: #110B56;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 9px;
	font-weight: 800;
	box-shadow: 4px 4px 19px #ccc;
	border-radius: 30px;
}

.hospitals_item_box b {
	font-size: 11px;
	font-weight: 600;
	margin-top: 6px;
	display: block;
}

.hospitals_item_box p {
	color: #676E89;
	font-size: 13px;
	margin-top: 3px !important;
}

.usertext p {
	font-size: 10px;
	margin-bottom: -4px;
}

    .hospitals_item_box img {
        width: 28%;
    }
    .cure-box-pad h1 {
        font-size: 12px;
        font-weight: bold;
        margin-top: 22px;
    }

.cure_span_pad i {
	color: #6FA65C;
	font-size: 15px;
}

.cure_span_pad span {
	padding-right: 5px;
}

.bc_topmenu {
	padding: 16px 5px;
	background-color: #fff !important;
	border: none;
	border-radius: 0;
	margin-bottom: 0px;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	height: 70px !important;
}

.userimgwidthnew{ display: none;}

.userimgwidthnew {
	width: 18px;
}


.hospitals_dashbord {
	padding-left: 5px; 
	padding-right: 5px; 
}

.loge-cure button{padding: 10px 14px;}

.loge-cure{ width: 15%;}

.logs{ width: 80% !important;}

.logs{ width: 80% !important;}

.pharmacyy h5 {
	color: #000;
font-size: 13px;
font-weight: 600;
padding-top: 0px;
}

.phra_cure .card {
	border: initial;
	background: #fffffffa;
	/* border-radius: 0; */
	box-shadow: 4px 8px 11px rgb(0 0 0 / 1%), 0 4px 5px rgb(0 0 0 / 1%);
	border-radius: 20px;
    margin-top: 10px;
}

.pharmacyy{ padding: 8px 38px;}


.medwidth h4 a {
	font-size: 9px;
	color: #110B56 !important;
	margin-top: 11px;
	display: block;
}

.box_today .box-body {
	padding: 0rem 0rem;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	border-radius: 10px;
}
.box_today h2 {
	font-size: 9px;
	font-weight: 600 !important;
	color: #110B56;
}
.paddingmrg {
	padding-right: 5px;
}

.paddingmrgvideo img {
	width: 16px;
}

.padingcancel img {
	width: 15px;
    height: 13px;
}

.paddingmrg img {
	width: 14px;
}

.pading img {
	width: 13px;
}

.hospital_welcome p {
	color: #676E89;
	font-size: 10px;
}

.hospital_welcome b{ font-size: 9px;}

.countof p {
	color: #676E89;
	font-size: 8px;
	font-weight: 400;
	padding-top: 5px;
}

.countof h3 {
	color: #110B56;
	font-size: 10px;
	font-weight: 600;
}

.sales-card img{ 
	width: 150px;
	text-align: center;
	margin: 0 auto;
	align-items: center;
	display: flex;
}

.userimg{ width: 55px;}

.pharama img{ display: none;}



/* All Appoinments_page_design_res */


.breadcrumbpro li:first-child a {
	padding-left: 8px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 0 0 4px;
}

.breadcrums {
	margin-top: 0px;
	margin-bottom: 0;
}

.breadcrumbpro .breadcrumb-item.active {
	color: #000;
	justify-content: center;
	display: flex;
	align-content: center;
	line-height: 39px;
	padding-left: 0px;
	font-size: 12px;
}


.breadcrumbpro img {
	width: 26px;
}


.allappoiments .card {
	border: initial;
	background: #fffffffa;
	border-radius: 8px;
	box-shadow: none !important;
	padding: 0px 0px 19px 33px;
	margin-bottom: 10px;
}


.reup [data-tooltip]::before {
	content: attr(data-tooltip);
	display: block;
	position: absolute;
	top: -250%;
	left: 50%;
	margin-left: -5.75em;
	/* width: 11em; */
	text-align: center;
	border-radius: 4px;
	background: #227405;
	color: white;
	font-size: 0.8em;
	line-height: 1.1;
	padding: 0.75em 0.95em;
}


.logo img {
	width: 24px;
	height: 24px;
}

#sidebaradi.active {
	min-width: 70px;
	max-width: 80px;
	text-align: center;
	min-height: 1060px;
}

.home_icon img {
	width: 20px;
	height: 20px;
}

.inner_icon img {
	width: 16px;
	/* height: 20px; */
}

#sidebaradi.active ul.components li {
	font-size: 9px;
}

}

