body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	background-image: linear-gradient( #f7f7f7, #ffffff);
}
.paddngleft {
	padding-left: 0px;
}
.logo {
	text-align: center;
	padding-top: 10px;
}
.logo img {
	width: 44px;
	height: 44px;
}
.home_icon img {
	width: 30px;
	height: 30px;
}
.inner_icon img {
	width: 20px;/*! height: 20px; */
}
.inner_icon p {
	color: #fff;
	font-size: 9px;
	font-weight: normal;
}
 @media (max-width: 991.98px) {
#sidebaradi {
	min-width: 80px;
	max-width: 80px;
	text-align: center;
	margin-left: -80px !important;
	height: 1080px;
}
}
.hos .bg-light {
	background-color: #fff !important;
}
.hos .img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.hos .navbar {
	height: 100%;
}
.hos .navbar-btn {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none !important;
	border: none;
}
.hos .line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}
.hos .wrapper {
	width: 100%;
}
#sidebaradi {
	min-width: 218px;
	max-width: 270px;
	background: linear-gradient(0deg, rgb(0, 86, 31) 0%, rgb(55, 157, 19) 90%);
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	height: 1080px;
	
}
#sidebaradi.active {
	min-width: 110px;
	max-width: 80px;
	text-align: center;
	min-height: 1060px;
}
#sidebaradi.active ul.components li {
	font-size: 10px;
}
#sidebaradi.active ul.components li a {
	padding: 19px 3px 3px 0px;
}
#sidebaradi.active ul.components li a span {
	margin-right: 0;
	display: block;
	font-size: 12px;
}
#sidebaradi.active .logo {
	padding: 10px 0;
}
#sidebaradi.active .footer {
	display: none;
}
#sidebaradi .logo {
	display: block;
	color: #fff;
	font-weight: 900;
	padding: 10px 30px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
 @media (prefers-reduced-motion: reduce) {
#sidebaradi .logo {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
}
#sidebaradi ul.components {
	padding: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
 @media (prefers-reduced-motion: reduce) {
#sidebaradi ul.components {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
}
#sidebaradi ul li {
	font-size: 16px;
}
#sidebaradi ul li > ul {
	margin-left: 10px;
}
#sidebaradi ul li > ul li {
	font-size: 14px;
}
#sidebaradi ul li a {
	padding: 10px 30px;
	display: block;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#sidebaradi ul li a span {
	margin-right: 15px;
}
 @media (max-width: 991.98px) {
#sidebaradi ul li a span {
	display: block;
}
}
#sidebaradi ul li a:hover {
	color: #fff;
}
#sidebaradi ul li.active > a {
	background: transparent;
	color: #fff;
}
 @media (max-width: 991.98px) {
#sidebaradi {
	min-width: 80px;
	max-width: 80px;
	text-align: center;
	margin-left: -80px !important;
}
#sidebaradi.active {
	margin-left: 0 !important;
}
}
a[data-toggle="collapse"] {
	position: relative;
}
.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
 @media (max-width: 991.98px) {
#sidebaradiCollapse span {
	display: none;
}
}
.footer {
	padding: 0 30px;
}
 @media (max-width: 991.98px) {
.footer {
	display: none;
}
}
#content {
	width: 100%;
	padding: 0;
	min-height: 100vh;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.cont {
	background-color: #f6f4f4;
}
.btn.btn-primary {
	background: #3e64ff;
	border-color: #3e64ff;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
	background: #3e64ff !important;
	border-color: #3e64ff !important;
}
.cure_span_pad {
	display: flex;
	justify-content: end;
}
.bc_topmenu {
	padding: 15px 10px;
	background-color: #fff !important;
	border: none;
	border-radius: 0;
	margin-bottom: 0px;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	height: 70px !important;
}
.loge-cure p {
	padding: 10px;
	font-weight: 600;
}
.quastion i {
	color: #6FA65C;
	font-size: 22px;
}
.cure_span_pad span {
	padding-right: 12px;
}
.hos .navbar {
	padding: 0px;
}
.cure_span_pad i {
	color: #6FA65C;
	font-size: 16px;
}
.span1 {
	padding-right: 28px !important;
	position: relative;
	top: 7px;
}
.span_icons {
	position: relative;
	top: 7px;
}
.usertext p {
	padding: 0px;
	padding-bottom: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.color_red {
	color: #FF0000;
}
.font_wight_bold {
	font-weight: 600;
}

.cure-box-pad h1 {
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 17px;
}


.cure-box-pad b {
	font-size: 12px;
	font-weight: normal;
}
.hosp_doc {
	display: flex;
}
.hospitals_item_box {
	border-radius: 19px;
	margin-right: 10px;
}
.hospitals_item_box b {
	font-size: 14px;
	font-weight: 600;
	margin-top: 6px;
	display: block;
}
.hospitals_item_box p {
	color: #676E89;
	font-size: 14px;
	margin-top: 3px !important;
}
.hospitals_item_box .btn {
	background-color: #fff;
	border: none;
	color: #110B56;
	padding: 12px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	font-weight: 800;
	box-shadow: 4px 4px 19px #ccc;
	border-radius: 30px;
}
.hosp_doc .box {
	position: relative;
	margin-bottom: 10px;
	width:inherit !important;
	background-color: #fff;
	border-radius: 30;
	padding: 0;
	-webkit-transition: .5s;
	transition: .5s;
	display: inherit !important;
	display: inherit !important;
	-ms-flex-direction: inherit !important;
	flex-direction: inherit !important;
	-webkit-box-shadow: 0 0 30px 0 rgba(82, 63, 105, .05);
	box-shadow: 0px 2px 5px rgb(0 0 0 / 5%), 0 4px 5px rgb(0 0 0 / 3%);
}
.hospitals_item_box img {
	width: 38%;
}
.box_today {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 4px 8px 11px rgba(0, 0, 0, 0), 0 4px 5px rgba(0, 0, 0, 0.04);
}
.box_today h2 {
	font-size: 14px;
	font-weight: 600 !important;
	color: #110B56;
}
.box_today .box-header {
	border-bottom: 1px solid #DBDDE6;
	padding: 15px;
}
.todayapp h4 {
	font-size: 12px;
	font-weight: 600;
	color: #110B56;
}
.todayapp h5 {
	font-size: 10px;
	font-weight: 400;
	color: #676E89;
}
.todayapp span {
	padding-right: 16px;
}
.innerdiv ul li {
	list-style-type: none;
}
.innerdiv ul {
	margin-left: 0px;
	padding-left: 13px;
}
.v1 img {
	width: auto !important;
	float: right;
}
.list-group-item .media img {
	width: 35px !important;
	height: 35px !important;
}
.media-body {
	flex: 1;
}
.float-end {
	float: right !important;
}
.medwidth {
	margin-bottom: 11px;
}
.medwidth h4 {
	margin-bottom: 0px !important;
}
.medwidth h4 a {
	font-size: 12px;
	color: #110B56 !important;
}
.medwidth span {
	font-size: 10px;
	color: #676E89;
}
.todayapp .border-bottom {
	border-bottom: 1px solid #DBDDE6 !important;
}
.paddingmrg {
	padding-right: 14px;
}
.paddingmrg img {
	width: 17px;
}
.pading img {
	width: 15px;
}
.userimg img {
	width: 40px;
}
.paddingmrgvideo img {
	width: 22px;
}
.padingcancel img {
	width: 20px;
	height: 20px;
}
.hospitals_dashbord {
	padding-left: 13px;
	padding-right: 7px;
}
.justyfiy {
	justify-content: space-between !important;
	width: 100% !important;
}
.dashbord_main {
	background-color: #fff;
	padding-bottom: 2px;
	border-radius: 20px;
	padding-top: 20px;
}
.hospital_welcome h4 {
	color: #110B56;
	font-size: 14px;
}
.hospital_welcome p {
	color: #676E89;
	font-size: 14px;
}
.avatar2-96 {
	width: 40px;
}
.countof h3 {
	color: #110B56;
	font-size: 14px;
	font-weight: 700;
}
.countof p {
	color: #676E89;
	font-size: 12px;
	font-weight: 400;
	padding-top: 5px;
	margin: 0;
}
.hospital_welcome hr {
	color: #DBDDE6;
}
.sales-card {
	border-radius: 20px;
}
.alltables thead th {
	vertical-align: bottom;
	border-bottom: none !important;
	background: transparent !important;
	color: #000;
	border: none !important;
	font-size: 10px !important;
	font-weight: 600;
	vertical-align: middle;
}
.sectionname b {
	font-size: 10px;
	font-weight: normal;
}
.sectionname strong {
	font-size: 10px;
	font-weight: normal;
}
.avatar-156 {
	width: 30px;
}
.pharama img {
	padding: 20px;
}
.pharmacyy h5 {
	color: #000;
	font-size: 16px;
	font-weight: 600;
	padding-top: 67px;
}
.pharmacyy p {
	font-size: 12px;
	color: #676E89;
	margin-bottom: 0px;
}
.pharmacyy a {
	color: #0A42D1;
	font-size: 14px;
	font-weight: 600;
}
.mr20 {
	margin-top: 2px;
}
.alltables td {
	font-size: 10px !important;
	vertical-align: middle;
}
.paddingbot {
	padding-bottom: 0px;
}
.viewde {
	text-align: center;
	margin: 0 auto;
	justify-content: center;
	display: flex;
	color: #0A42D1;
	font-size: 14px;
	padding-bottom: 17px;
}
.mt33 {
	margin-top: 13px;
}
.phra_cure .card {
	border: initial;
	background: #fffffffa;
	border-radius: 0;
	box-shadow: 4px 8px 11px rgb(0 0 0 / 1%), 0 4px 5px rgb(0 0 0 / 1%);
	border-radius: 20px;
}



.profileprofilemain-footer-cure {
	background-color: #FCFBFB;
	border: 1px solid #EBEBEB;
	height: 52px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 117px;
	margin-right: 7px;
}





.tooltip-main {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	font-weight: 700;
	background: #379d13;
	border: 1px solid #379d13;
	color: #379d13;
	margin: 4px 10px 0 5px;
	float: right;
	text-align: left !important;
  }
  
  .tooltip-qm {
	float: left;
	margin: 0px 0px 3px 4px;
	font-size: 12px;
  }
  
  .tooltip-inner {
	max-width: 100px !important;
	height: 30px;
	font-size: 12px;
	padding: 4px;
	background: #379d13;
	color: #fff;
	border: 2px solid #ffffff;
	text-align: center;
	position: relative;
	right: 30px;
	z-index: 100000;
  }





 
.tooltip2-inner:after {
	position: absolute;
	left: -5px;
	top: 8px;
	border-top: 5px solid transparent;
	border-right: 5px solid rgb(255, 255, 255);
	border-left: none;
	border-bottom: 5px solid transparent;
  }





  .tooltip2-main {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	font-weight: 700;
	background: #379d13;
	border: 1px solid #379d13;
	color: #379d13;
	margin: 4px 10px 0 5px;
	float: right;
	text-align: left !important;
  }
  
  .tooltip2-qm {
	float: left;
	margin: 0px 0px 3px 4px;
	font-size: 12px;
  }
  
  .tooltip2-inner {
	max-width: 100px !important;
	height: 30px;
	font-size: 12px;
	padding: 4px;
	background: #379d13;
	color: #fff;
	border: 2px solid #ffffff;
	text-align: center;
	position: relative;
	right: 30px;
	z-index: 100000;
  }





 
.tooltip2-inner:after {
	position: absolute;
	left: -5px;
	top: 8px;
	border-top: 5px solid transparent;
	border-right: 5px solid rgb(255, 255, 255);
	border-left: none;
	border-bottom: 5px solid transparent;
  }


















  .karatab{
	border-radius: 11px;
	margin-top: 6px;
	height: 53px;
background: rgb(69,172,103); /* Old browsers */
background: -moz-linear-gradient(top, rgba(69,172,103,1) 0%, rgba(69,170,102,1) 3%, rgba(71,172,104,1) 4%, rgba(69,170,100,1) 5%, rgba(71,171,101,1) 11%, rgba(74,171,102,1) 12%, rgba(74,170,99,1) 16%, rgba(76,172,101,1) 18%, rgba(74,170,99,1) 19%, rgba(80,170,100,1) 36%, rgba(81,168,97,1) 37%, rgba(85,171,100,1) 47%, rgba(85,168,98,1) 47%, rgba(88,170,98,1) 57%, rgba(88,168,95,1) 61%, rgba(91,168,96,1) 62%, rgba(94,170,96,1) 70%, rgba(92,168,96,1) 71%, rgba(95,168,97,1) 72%, rgba(97,167,94,1) 87%, rgba(101,169,96,1) 92%, rgba(101,167,93,1) 93%, rgba(104,168,94,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(69,172,103,1) 0%,rgba(69,170,102,1) 3%,rgba(71,172,104,1) 4%,rgba(69,170,100,1) 5%,rgba(71,171,101,1) 11%,rgba(74,171,102,1) 12%,rgba(74,170,99,1) 16%,rgba(76,172,101,1) 18%,rgba(74,170,99,1) 19%,rgba(80,170,100,1) 36%,rgba(81,168,97,1) 37%,rgba(85,171,100,1) 47%,rgba(85,168,98,1) 47%,rgba(88,170,98,1) 57%,rgba(88,168,95,1) 61%,rgba(91,168,96,1) 62%,rgba(94,170,96,1) 70%,rgba(92,168,96,1) 71%,rgba(95,168,97,1) 72%,rgba(97,167,94,1) 87%,rgba(101,169,96,1) 92%,rgba(101,167,93,1) 93%,rgba(104,168,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(69,172,103,1) 0%,rgba(69,170,102,1) 3%,rgba(71,172,104,1) 4%,rgba(69,170,100,1) 5%,rgba(71,171,101,1) 11%,rgba(74,171,102,1) 12%,rgba(74,170,99,1) 16%,rgba(76,172,101,1) 18%,rgba(74,170,99,1) 19%,rgba(80,170,100,1) 36%,rgba(81,168,97,1) 37%,rgba(85,171,100,1) 47%,rgba(85,168,98,1) 47%,rgba(88,170,98,1) 57%,rgba(88,168,95,1) 61%,rgba(91,168,96,1) 62%,rgba(94,170,96,1) 70%,rgba(92,168,96,1) 71%,rgba(95,168,97,1) 72%,rgba(97,167,94,1) 87%,rgba(101,169,96,1) 92%,rgba(101,167,93,1) 93%,rgba(104,168,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45ac67', endColorstr='#68a85e',GradientType=0 ); /* IE6-9 */
	}

.padding_tab{padding: 8px !important;}

.karatab .nav-link.active {
	border: initial;
	position: relative;
	color: #F2E90A;
	background: transparent !important;
	/* background: linear-gradient(45deg,#17a3ae,#a550d4) !important; */
	/* height: 40px; */
	padding: 5px 0px;
	border-radius: 0;
	/* margin: 0; */
	text-transform: capitalize;
	border-radius: 5px;
	background-color: transparent;

}

.karatab img{margin-right: 10px; width: 39px;}


.karatab .nav-link {
	border: initial;
	padding: 5px;
	font-size: 13px;
	text-transform: capitalize;
	letter-spacing: .5px;
	font-weight: 500;
	color: #fff;
	
}

.karatab .nav-link.active:focus {
	border: initial;
	position: relative;
	color: #F2E90A;
	/* background: #153b64; */
	text-transform: capitalize;
	letter-spacing: .5px;
}


.profile_bc {
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	padding-bottom: 50px;
}

	.app_bc{	background-color: #fff;
		padding: 10px;
		  padding-top: 10px;
		  padding-bottom: 10px;
		  padding-left: 10px;
		border-radius: 10px;
		padding-bottom: 2%;
		padding-top: 20px;
		padding-left: 12px;}

		.linedo{border-bottom: 2px solid #E9EDF0; margin-bottom: 8px;}


.paddingbot tr{ height: 48px;}

         .breadcrums{margin-top: 16px;}

		.breadcrumbpro img{ width: 32px; }

		.breadcrumbpro .breadcrumb-item + .breadcrumb-item::before {
			display: inline-block;
			padding-right: .5rem;
			color: #49AA65;
			content: ">";
			font-size: 24px;
		}

		.breadcrumbpro .breadcrumb-item.active {
			color: #000;
		}

		.breadcrumbpro li:first-child a {
			padding-left: 15px;
			-moz-border-radius: 4px 0 0 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px 0 0 4px;
		}

		.breadcrumbpro .breadcrumb-item.active {
			color: #000;
			justify-content: center;
			display: flex;
			align-content: center;
			line-height: 39px;
			padding-left: 0px;
		}

		.user-curetab .col-form-label {
			padding-top: calc(.375rem + 1px);
			padding-bottom: calc(.375rem + 1px);
			margin-bottom: 0;
			font-size: inherit;
			line-height: 1.5;
			font-size: 13px;
			font-weight: 600;
		}


		.user-curetab .form-control {
			border-top-width: 0;
			border-left-width: 0;
			border-right-width: 0;
			border-color: #75A15D;
			border-bottom-width: 2px;
			height: calc(2rem + 2px);
		}

		.user-curetab b{color: red;}

		.vime{display: flex;
			align-items: self-end;
			justify-content: end;}

			.button_code img{width: 16px;
			margin-right: 10px;
			margin-top: -4px; }

			.button_code{
				border-radius: 11px;
				border: none;
				font-size: 13px;
				font-weight: 600;
				margin-right: 10px;
				background: rgb(121,165,90) !important; /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(121,165,90,1) 0%, rgba(117,163,90,1) 2%, rgba(119,167,93,1) 4%, rgba(115,167,92,1) 5%, rgba(109,165,92,1) 14%, rgba(110,168,94,1) 16%, rgba(101,167,93,1) 24%, rgba(102,168,96,1) 24%, rgba(101,169,96,1) 28%, rgba(97,167,94,1) 29%, rgba(96,168,95,1) 34%, rgba(91,168,96,1) 36%, rgba(93,169,97,1) 37%, rgba(88,168,95,1) 40%, rgba(89,169,98,1) 41%, rgba(82,169,98,1) 49%, rgba(83,170,101,1) 51%, rgba(76,169,99,1) 58%, rgba(76,172,101,1) 60%, rgba(74,170,98,1) 61%, rgba(70,171,101,1) 66%, rgba(69,171,98,1) 67%, rgba(70,173,104,1) 69%, rgba(66,171,102,1) 71%, rgba(65,172,104,1) 76%, rgba(61,170,102,1) 77%, rgba(57,174,104,1) 86%, rgba(52,171,103,1) 88%, rgba(53,174,107,1) 90%, rgba(49,172,105,1) 92%, rgba(51,174,107,1) 93%, rgba(48,173,105,1) 95%, rgba(48,175,108,1) 98%, rgba(45,174,107,1) 100%) !important; /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(121,165,90,1) 0%,rgba(117,163,90,1) 2%,rgba(119,167,93,1) 4%,rgba(115,167,92,1) 5%,rgba(109,165,92,1) 14%,rgba(110,168,94,1) 16%,rgba(101,167,93,1) 24%,rgba(102,168,96,1) 24%,rgba(101,169,96,1) 28%,rgba(97,167,94,1) 29%,rgba(96,168,95,1) 34%,rgba(91,168,96,1) 36%,rgba(93,169,97,1) 37%,rgba(88,168,95,1) 40%,rgba(89,169,98,1) 41%,rgba(82,169,98,1) 49%,rgba(83,170,101,1) 51%,rgba(76,169,99,1) 58%,rgba(76,172,101,1) 60%,rgba(74,170,98,1) 61%,rgba(70,171,101,1) 66%,rgba(69,171,98,1) 67%,rgba(70,173,104,1) 69%,rgba(66,171,102,1) 71%,rgba(65,172,104,1) 76%,rgba(61,170,102,1) 77%,rgba(57,174,104,1) 86%,rgba(52,171,103,1) 88%,rgba(53,174,107,1) 90%,rgba(49,172,105,1) 92%,rgba(51,174,107,1) 93%,rgba(48,173,105,1) 95%,rgba(48,175,108,1) 98%,rgba(45,174,107,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(121,165,90,1) 0%,rgba(117,163,90,1) 2%,rgba(119,167,93,1) 4%,rgba(115,167,92,1) 5%,rgba(109,165,92,1) 14%,rgba(110,168,94,1) 16%,rgba(101,167,93,1) 24%,rgba(102,168,96,1) 24%,rgba(101,169,96,1) 28%,rgba(97,167,94,1) 29%,rgba(96,168,95,1) 34%,rgba(91,168,96,1) 36%,rgba(93,169,97,1) 37%,rgba(88,168,95,1) 40%,rgba(89,169,98,1) 41%,rgba(82,169,98,1) 49%,rgba(83,170,101,1) 51%,rgba(76,169,99,1) 58%,rgba(76,172,101,1) 60%,rgba(74,170,98,1) 61%,rgba(70,171,101,1) 66%,rgba(69,171,98,1) 67%,rgba(70,173,104,1) 69%,rgba(66,171,102,1) 71%,rgba(65,172,104,1) 76%,rgba(61,170,102,1) 77%,rgba(57,174,104,1) 86%,rgba(52,171,103,1) 88%,rgba(53,174,107,1) 90%,rgba(49,172,105,1) 92%,rgba(51,174,107,1) 93%,rgba(48,173,105,1) 95%,rgba(48,175,108,1) 98%,rgba(45,174,107,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79a55a', endColorstr='#2dae6b',GradientType=0 ); /* IE6-9 */
				}

				.buttonred{
					background: rgb(221,6,4) !important; /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(221,6,4,1) 0%, rgba(221,4,12,1) 8%, rgba(223,8,16,1) 11%, rgba(221,5,16,1) 15%, rgba(221,6,21,1) 18%, rgba(220,5,20,1) 20%, rgba(222,7,23,1) 24%, rgba(218,5,23,1) 26%, rgba(219,5,29,1) 31%, rgba(220,8,31,1) 31%, rgba(218,6,31,1) 35%, rgba(220,7,37,1) 39%, rgba(217,7,36,1) 40%, rgba(219,8,40,1) 41%, rgba(218,7,40,1) 47%, rgba(219,9,48,1) 53%, rgba(217,7,52,1) 61%, rgba(217,10,56,1) 63%, rgba(219,9,56,1) 63%, rgba(215,7,56,1) 66%, rgba(217,9,59,1) 66%, rgba(215,8,62,1) 73%, rgba(217,10,66,1) 75%, rgba(213,8,65,1) 79%, rgba(217,9,67,1) 79%, rgba(216,11,70,1) 81%, rgba(213,8,67,1) 82%, rgba(215,9,71,1) 83%, rgba(214,8,72,1) 85%, rgba(215,11,74,1) 87%, rgba(214,9,74,1) 91%, rgba(215,10,79,1) 93%, rgba(215,11,84,1) 100%) !important; /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(221,6,4,1) 0%,rgba(221,4,12,1) 8%,rgba(223,8,16,1) 11%,rgba(221,5,16,1) 15%,rgba(221,6,21,1) 18%,rgba(220,5,20,1) 20%,rgba(222,7,23,1) 24%,rgba(218,5,23,1) 26%,rgba(219,5,29,1) 31%,rgba(220,8,31,1) 31%,rgba(218,6,31,1) 35%,rgba(220,7,37,1) 39%,rgba(217,7,36,1) 40%,rgba(219,8,40,1) 41%,rgba(218,7,40,1) 47%,rgba(219,9,48,1) 53%,rgba(217,7,52,1) 61%,rgba(217,10,56,1) 63%,rgba(219,9,56,1) 63%,rgba(215,7,56,1) 66%,rgba(217,9,59,1) 66%,rgba(215,8,62,1) 73%,rgba(217,10,66,1) 75%,rgba(213,8,65,1) 79%,rgba(217,9,67,1) 79%,rgba(216,11,70,1) 81%,rgba(213,8,67,1) 82%,rgba(215,9,71,1) 83%,rgba(214,8,72,1) 85%,rgba(215,11,74,1) 87%,rgba(214,9,74,1) 91%,rgba(215,10,79,1) 93%,rgba(215,11,84,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(221,6,4,1) 0%,rgba(221,4,12,1) 8%,rgba(223,8,16,1) 11%,rgba(221,5,16,1) 15%,rgba(221,6,21,1) 18%,rgba(220,5,20,1) 20%,rgba(222,7,23,1) 24%,rgba(218,5,23,1) 26%,rgba(219,5,29,1) 31%,rgba(220,8,31,1) 31%,rgba(218,6,31,1) 35%,rgba(220,7,37,1) 39%,rgba(217,7,36,1) 40%,rgba(219,8,40,1) 41%,rgba(218,7,40,1) 47%,rgba(219,9,48,1) 53%,rgba(217,7,52,1) 61%,rgba(217,10,56,1) 63%,rgba(219,9,56,1) 63%,rgba(215,7,56,1) 66%,rgba(217,9,59,1) 66%,rgba(215,8,62,1) 73%,rgba(217,10,66,1) 75%,rgba(213,8,65,1) 79%,rgba(217,9,67,1) 79%,rgba(216,11,70,1) 81%,rgba(213,8,67,1) 82%,rgba(215,9,71,1) 83%,rgba(214,8,72,1) 85%,rgba(215,11,74,1) 87%,rgba(214,9,74,1) 91%,rgba(215,10,79,1) 93%,rgba(215,11,84,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd0604', endColorstr='#d70b54',GradientType=0 ); /* IE6-9 */
					}



/* Appointments css */


.cure-tabtab .nav-link.active {
	border: initial;
	position: relative;
	color: #344563;
	background:transparent;
	padding: 5px 0px;
	font-size: 13px;
	border-bottom: 2px solid #339A14;
border-radius: inherit;

}

.cure-tabtab a {
padding: 10px !important;
font-size: 13px;
font-weight: 500;

}

.cure-tabtab .nav-tabs .nav-link.active:focus {
	border: initial;
	position: relative;
	color: #344563;
	/* background: #153b64; */
	text-transform: capitalize;
	letter-spacing: .5px;
	border-bottom: 2px solid #339A14;
	border-radius: inherit;
}

.cure-tabtab .nav-link.active:hover {
	border: initial;
	position: relative;
	color: #344563;
	/* background: #2b982b; */
	text-transform: capitalize;
	letter-spacing: .5px;
	font-size: 13px;
}

		

.cure-tabtab .nav-link{
	border: initial;
	position: relative;
	color: #8791A3;
	background:transparent;
	padding: 5px 0px;
	font-size: 13px;

}
table{    border-spacing: 15px;}
.cure-tab_border{border-bottom: 1px solid #E9EDF0;}


.cure-tabtab .table thead th {
	
	vertical-align: bottom;
	border-bottom: 2px solid #d6dadd;
	background: rgb(121,165,90) !important; /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(121,165,90,1) 0%, rgba(117,163,90,1) 2%, rgba(119,167,93,1) 4%, rgba(115,167,92,1) 5%, rgba(109,165,92,1) 14%, rgba(110,168,94,1) 16%, rgba(101,167,93,1) 24%, rgba(102,168,96,1) 24%, rgba(101,169,96,1) 28%, rgba(97,167,94,1) 29%, rgba(96,168,95,1) 34%, rgba(91,168,96,1) 36%, rgba(93,169,97,1) 37%, rgba(88,168,95,1) 40%, rgba(89,169,98,1) 41%, rgba(82,169,98,1) 49%, rgba(83,170,101,1) 51%, rgba(76,169,99,1) 58%, rgba(76,172,101,1) 60%, rgba(74,170,98,1) 61%, rgba(70,171,101,1) 66%, rgba(69,171,98,1) 67%, rgba(70,173,104,1) 69%, rgba(66,171,102,1) 71%, rgba(65,172,104,1) 76%, rgba(61,170,102,1) 77%, rgba(57,174,104,1) 86%, rgba(52,171,103,1) 88%, rgba(53,174,107,1) 90%, rgba(49,172,105,1) 92%, rgba(51,174,107,1) 93%, rgba(48,173,105,1) 95%, rgba(48,175,108,1) 98%, rgba(45,174,107,1) 100%) !important; /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(121,165,90,1) 0%,rgba(117,163,90,1) 2%,rgba(119,167,93,1) 4%,rgba(115,167,92,1) 5%,rgba(109,165,92,1) 14%,rgba(110,168,94,1) 16%,rgba(101,167,93,1) 24%,rgba(102,168,96,1) 24%,rgba(101,169,96,1) 28%,rgba(97,167,94,1) 29%,rgba(96,168,95,1) 34%,rgba(91,168,96,1) 36%,rgba(93,169,97,1) 37%,rgba(88,168,95,1) 40%,rgba(89,169,98,1) 41%,rgba(82,169,98,1) 49%,rgba(83,170,101,1) 51%,rgba(76,169,99,1) 58%,rgba(76,172,101,1) 60%,rgba(74,170,98,1) 61%,rgba(70,171,101,1) 66%,rgba(69,171,98,1) 67%,rgba(70,173,104,1) 69%,rgba(66,171,102,1) 71%,rgba(65,172,104,1) 76%,rgba(61,170,102,1) 77%,rgba(57,174,104,1) 86%,rgba(52,171,103,1) 88%,rgba(53,174,107,1) 90%,rgba(49,172,105,1) 92%,rgba(51,174,107,1) 93%,rgba(48,173,105,1) 95%,rgba(48,175,108,1) 98%,rgba(45,174,107,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(121,165,90,1) 0%,rgba(117,163,90,1) 2%,rgba(119,167,93,1) 4%,rgba(115,167,92,1) 5%,rgba(109,165,92,1) 14%,rgba(110,168,94,1) 16%,rgba(101,167,93,1) 24%,rgba(102,168,96,1) 24%,rgba(101,169,96,1) 28%,rgba(97,167,94,1) 29%,rgba(96,168,95,1) 34%,rgba(91,168,96,1) 36%,rgba(93,169,97,1) 37%,rgba(88,168,95,1) 40%,rgba(89,169,98,1) 41%,rgba(82,169,98,1) 49%,rgba(83,170,101,1) 51%,rgba(76,169,99,1) 58%,rgba(76,172,101,1) 60%,rgba(74,170,98,1) 61%,rgba(70,171,101,1) 66%,rgba(69,171,98,1) 67%,rgba(70,173,104,1) 69%,rgba(66,171,102,1) 71%,rgba(65,172,104,1) 76%,rgba(61,170,102,1) 77%,rgba(57,174,104,1) 86%,rgba(52,171,103,1) 88%,rgba(53,174,107,1) 90%,rgba(49,172,105,1) 92%,rgba(51,174,107,1) 93%,rgba(48,173,105,1) 95%,rgba(48,175,108,1) 98%,rgba(45,174,107,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79a55a', endColorstr='#2dae6b',GradientType=0 ); /* IE6-9 */
	color: #fff;
	/* border: 1px solid #2f5783; */
}


.cure-tabtab .table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #d6dadd;
	background: #153b64;
	color: #fff;
	border: none !important;
	font-size: 13px !important;
	font-weight: 600;
  
	
}


.cure-tabtab .table th{
	
	border-top: 0px solid #dee2e6;
  }

.cure-tabtab table {
	border-spacing: 0px 6px;
	border-collapse:inherit;
  }

.cure-tabtab th:first-child {

	text-align: left;
  
	
}

.cure-tabtab th {

	text-align: left;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 0px;
	font-weight: 600;
	font-size: 13px !important;
	color: #110B56;
}




.cure-tabtab th:first-child{ border-radius: 11px 0px 0px 11px;}

.cure-tabtab th:last-child{ border-radius: 0px 11px 11px 0px;}


.cure-tabtab tr{ background-color: #F3F3F3;}



.cure-tabtab tbody th:first-child{ padding-top: 0px; padding-bottom: 0px; padding-left: 20px;}

.cure-tabtab thead th:first-child{ padding-top: 13px; padding-bottom: 13px; padding-left: 0px;}

.cure-tabtab img{width: 23px;}

.cure-tabtab td{padding-left: 0px;}

.firstch{ padding-left: 20px !important;}


.cure-tabtabh5{  font-size: 14px;
font-weight: 600;
padding: o;
padding-left: 12px;
padding-top: 2px;
padding-bottom: 15px;
}

.bc_topmenubtn{  background: #f6f4f4 !important;
	border-color: #f6f4f4 !important;
	color: #000;
  }

  .butoon1{padding: 8px;}

  .butoon2{padding: 8px;}
/* 
  .table_left_right_padding{  padding-left: 20px;
	padding-right: 44px;
  }
   */

   .table_left_right_padding{  padding-left: 5px;
	padding-right: 5px;
  }

  .tableviewbtn{background: none !important;
	background-color: rgba(0, 0, 0, 0) !important;
  background-color: transparent !important;
  box-shadow: none !important;   font-size: 13px;
  padding-left: 0;
  font-weight: 550;
  color: #000102 !important;
}

.abtext{  font-size: 13px;
	font-weight: 500;
  }



  /* Patient Details poppup */


  .popupbackground{/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#47ac68+0,46ab65+3,4aab66+14,4aaa63+16,4eab65+23,4ea963+27,5aaa61+58,58a85f+59,5ca961+62,65a75d+93,69a75e+99,6ca860+100 */
	background: rgb(71,172,104) !important; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(71,172,104,1) 0%, rgba(70,171,101,1) 3%, rgba(74,171,102,1) 14%, rgba(74,170,99,1) 16%, rgba(78,171,101,1) 23%, rgba(78,169,99,1) 27%, rgba(90,170,97,1) 58%, rgba(88,168,95,1) 59%, rgba(92,169,97,1) 62%, rgba(101,167,93,1) 93%, rgba(105,167,94,1) 99%, rgba(108,168,96,1) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(71,172,104,1) 0%,rgba(70,171,101,1) 3%,rgba(74,171,102,1) 14%,rgba(74,170,99,1) 16%,rgba(78,171,101,1) 23%,rgba(78,169,99,1) 27%,rgba(90,170,97,1) 58%,rgba(88,168,95,1) 59%,rgba(92,169,97,1) 62%,rgba(101,167,93,1) 93%,rgba(105,167,94,1) 99%,rgba(108,168,96,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(71,172,104,1) 0%,rgba(70,171,101,1) 3%,rgba(74,171,102,1) 14%,rgba(74,170,99,1) 16%,rgba(78,171,101,1) 23%,rgba(78,169,99,1) 27%,rgba(90,170,97,1) 58%,rgba(88,168,95,1) 59%,rgba(92,169,97,1) 62%,rgba(101,167,93,1) 93%,rgba(105,167,94,1) 99%,rgba(108,168,96,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47ac68', endColorstr='#6ca860',GradientType=0 ); /* IE6-9 */
	border-radius: 6px 6px 0px 0px !important;
box-shadow: 0px 2px 11px #6a6a6a;
border: none !important;
	}


	


.myaltabs nav > div a.nav-item.nav-link:hover, nav > div a.nav-item.nav-link:focus {
	border: none;
	/* background: #04a08b; */
	background: #000;
	border-radius: 0;
	color: #344563 !important;
	border-bottom: 2px solid #339A14 !important;

}



	.myaltabs nav > div a.nav-item.nav-link, nav > div a.nav-item.nav-link.active {
		border: none;
		padding: 8px 9px;
		color: #344563;
		background:transparent;
		border-radius: 0;
		/* text-align: center; */
	

	}

.backico{  background-color: #F1F4FE;
	height: 3px;
	position: relative;
	top: -2px;
  }

	.myaltabs a{ color:#8791A3 !important; font-size: 13px;}


	.myaltabs .nav-tabs .nav-item {
		margin-bottom: -1px;
		margin-right: 10px;
	}

	.myaltabs a.nav-item.nav-link.active {
		border: none;
		padding: 0px 0px;
		color: #344563 !important;
		background:transparent !important;
		border-radius: 0;
		/* text-align: center; */
		border-bottom: 2px solid #339A14 !important;
	}


	.myaltabs .nav.nav-tabs {
		border: none;
		color: #8791A3;
		background:transparent;
		border-radius: 0;
	}



	.myaltabs > div a.nav-item.nav-link:hover, nav > div a.nav-item.nav-link:focus {
		border: none;
		/* background: #04a08b; */
		background:none !important;
		color: #344563;
		border-radius: 0;
		border-bottom: 2px solid #339A14 !important;
	}


	.modlcure .modal-dialog {
		margin: 0 auto;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
		height: 100%;
		max-width: 595px !important;
	}


	.modal-bodycure{padding: 0px !important;}


	.myaltabs .nav-fill .nav-item {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex:inherit !important;
		text-align: inherit !important;
	}

	.myaltabs nav > div a.nav-item.nav-link.active::after {
		/* content: "";
		position: absolute;
		bottom: -20px;
		left: 46%;
		border: 10px solid transparent;
		  border-top-color: transparent;
		border-top-color: #5a7cc0; */
		display: none;
	  }


	  .backicons{background-color: #F1F4FE;
		padding: 10px 30px;
		height: 62px;}

		.curenav{  padding-top: 6px;
			padding-left: 19px;
			margin-bottom: 3px;
		
		  }

		  .backiconline{ display: flex;}

		  .backiconsimgl {
			width: 90px !important;
		}

    .backicons h2{ color: #58A961; font-size: 14px; font-weight: 600; margin-bottom: 0px;}
		

		.iconbbimg{width: 12px !important; margin-right: 7px;}

		.iconbbimg3{width: 32px !important; margin-top: 5px;}

		.iconbbimg4{width: 20px !important; margin-top: 5px;}




		.backicons b{ font-size: 14px; font-weight: normal; color: #000;}


		.myaltabs .nav-tabs .nav-link.active:focus {
			border: initial;
			position: relative;
			color: #344563;
			/* background: #153b64; */
			text-transform: capitalize;
			letter-spacing: .5px;
			border-bottom: 2px solid #339A14;
			border-radius: inherit;
		}

		.curenav .active{color: #344563;}

		.curevitals_bc{ background-color: #E6ECFF; height: 106px; border-radius: 4px; text-align: center; margin-top: 33px;}


		.vitalsimg{ width: 70px !important; margin-top: -35px;}


		.hartrate_cure p{ color: #FF6C5A; font-size: 13px; font-weight: 600; margin-bottom: 0px; margin-top: 7px;}

		.hartrate_cure span{ color: #000; font-size: 12px; font-weight:normal; margin-bottom: 0px;}


		
		.weight_cure p{ color: #143985; font-size: 13px; font-weight: 600; margin-bottom: 0px; margin-top: 7px;}

		.glucose p{ color: #3EA0A8; font-size: 13px; font-weight: 600; margin-bottom: 0px; margin-top: 7px;}

		.weight_cure span{ color: #000; font-size: 12px; font-weight:normal; margin-bottom: 0px;}

		.hartrate_pressure p{color: #5C9546; font-size: 13px; font-weight: 600; margin-bottom: 0px; margin-top: 7px;}

		.Temperature_cure p{ color: #F68513; font-size: 13px; font-weight: 600; margin-bottom: 0px; margin-top: 7px;}

		.bloodgroup_cure p{ color: #F90303; font-size: 13px; font-weight: 600; margin-bottom: 0px; margin-top: 7px;}


		.bcforbc{ background-color:#F9FAFE; height: 70px; border-radius: 6px; padding-top: 15px; padding-left: 10px; }

		
		.Tempep{ color: #000; font-size: 13px; font-weight: 600; margin-bottom: 0px; margin-top: 0px;}

		.surg{ color: #3E5A7B; font-size: 12px; font-weight: 600; margin-bottom: 0px; }

		.hoswww{color: #6D6D6D; font-size: 10px; font-weight: 400; margin-bottom: 0px; }

		.hostt{ color: #3E5A7B; font-size: 10px; font-weight: 600; margin-bottom: 0px; margin-left: 10px;}

		.modlcure .close {
			color: #FF0000;
			opacity: 1;
			font-weight: 400;
			font-size: 22px;
		    padding: 11px 2px 10px 2px !important; 
			line-height: 0;
			background-color: #FCFBFB;
			width: 21px;
			height: 21px;
			display: block;
			margin-right: 11px;
			border-radius: 40px;
			margin-top: 1px;
			text-align: center;
			justify-content: center;
			display: flex;
			align-content: center;
			justify-content: center;
			display: flex;
			align-content: center;
		}

		.modlcure .close {
			color: #FF0000;
			font-weight: 400;
			font-size: 22px;
			line-height: 0;
			text-align: center;
		}


		.modlcure h5{color: #fff; font-size: 13px; font-weight: 600;}

		.cure-tabtabimg {
			width: 26px !important;
		  }




		  .cure-allergies {
			width: 30px !important;
		}

		.cureallergies{ display: flex;
			align-items: center;
			}

		.cureallergies p{ color: #000;
			font-size: 13px;
			font-weight: 500;
			margin-bottom: 0;
			padding: 6px; }


			.curepad{ padding: 20px; border-bottom: 2px solid #E9EDF0;}

			/* .mdh{ background-color:#F1F4FE ; border-radius: 6px; height: 82px; padding: 19px;} */

           .clr{ clear: both;}

			.mdh{margin-top: 5px;}
			.mdh span
			
			{
				border-radius: 18px;
				padding: 7px;
				color: #37353C;
				font-size: 12px;
				margin-right: 80px;
				margin-right: 10px;
			}



				.allappoiments .card {
					border: initial;
					background: #fffffffa;
					border-radius: 8px;
					box-shadow: none !important;
					padding: 0px 0px 19px 33px;
				}


				.imageshape {
					background-image: url(../images/medicalhistory/Oval.png);
					position: relative;
					background-size: 82% 100%;
					background-position: center right;
					background-repeat: no-repeat;
					padding-bottom: 65%;
					border-radius: 0px 9px 8px 8px;
				}


				.imageshape2 {
					background-image: url(../images/medicalhistory/Oval2.png);
					position: relative;
					background-size: 82% 100%;
					background-position: center right;
					background-repeat: no-repeat;
					padding-bottom: 65%;
					border-radius: 0px 9px 8px 8px;
				}


				.imageshape3 {
					background-image: url(../images/medicalhistory/Oval3.png);
					position: relative;
					background-size: 82% 100%;
					background-position: center right;
					background-repeat: no-repeat;
					padding-bottom: 65%;
					border-radius: 0px 9px 8px 8px;
				}


				.imageshape4 {
					background-image: url(../images/medicalhistory/Oval4.png);
					position: relative;
					background-size: 82% 100%;
					background-position: center right;
					background-repeat: no-repeat;
					padding-bottom: 65%;
					border-radius: 0px 9px 8px 8px;
				}

				.allappoiments h4 {
					font-size: 24px;
					font-weight: bold;
					color: #202020;
					margin-bottom: 0px !important;
					margin-top: 30px;
					margin-left: 0px;
				}

				.allappoiments p {
					font-size: 16px;
					font-weight: normal;
					color: #202020;
					margin-left: 0px;
					margin-top: 6px;
				}
		

				.imgshape {
					width: 45%;
					text-align: right;
					float: right;
					padding: 12px;
					margin-right: 28px;
					margin-top: 4px;
				}

				.containerpad{margin: 0;
					margin-bottom: 0px;
				  padding: 0;
				  margin-bottom: 30px;}
			




				  
				  .topnav .search-container {
					float: right;
					/*! background-color: red; */
					/*! width: 50%; */
				  }
				  
				  .topnav input[type=text] {
					padding: 12px 20px;
					font-size: 15px;
					border: none;
				
					width: 329px;
					border-radius: 6px;
					color: #A8AEC8;
					margin-left: 7px;
				  }
				  
				  .topnav .search-container button {
					/* float: right; */
					padding: 6px 10px;
					margin-top: 5px;
					margin-right: 5px;
					background: linear-gradient(to bottom, rgba(71,172,104,1) 0%,rgba(70,171,101,1) 3%,rgba(74,171,102,1) 14%,rgba(74,170,99,1) 16%,rgba(78,171,101,1) 23%,rgba(78,169,99,1) 27%,rgba(90,170,97,1) 58%,rgba(88,168,95,1) 59%,rgba(92,169,97,1) 62%,rgba(101,167,93,1) 93%,rgba(105,167,94,1) 99%,rgba(108,168,96,1) 100%) !important;
					font-size: 17px;
					border: none;
					cursor: pointer;
					border-radius: 6px;
				}
				  
				  .topnav .search-container button:hover {
					background: #ccc;
				  }
				  
				  @media screen and (max-width: 600px) {
					.topnav .search-container {
					  float: none;
					}
					.topnav a, .topnav input[type=text], .topnav .search-container button {
					  float: none;
					  display: block;
					  text-align: left;
					  width: 100%;
					  margin: 0;
					  padding: 14px;
					}
					.topnav input[type=text] {
					  border: 1px solid #ccc;  
					}
				  }


				  .cure-taballapp{font-size: 14px;
					font-weight: 600;
					/* padding-left: 12px; */
					padding-top: 2px;
					margin:0px;
					}

					.serchaction{background-color: #fff;
						box-shadow: 1px 1px 8px #C4C4C4;
						border-radius: 6px;}


						.cavie{width: 33px !important;
							margin-top: 7px;}



							.app_bc2 {
								background-color: #fff;
						
								padding-top: 10px;
								padding-bottom: 10px;
								
								border-radius: 10px;
								padding-bottom: 2%;
								padding-top: 13px;
							
							}


							.all_appoiments_pad{padding-left: 16px;
								padding-right: 16px;}


								.paddingnew{ padding: 20px 16px;}

								.rx-n {
									font-size: 14px;
									font-weight: 500;
									margin-left: 10px;
									margin-top: 5px;
									display: block;
									float: left;
								}


								.dfle {
									padding: 30px 20px;
									height: 94px;
								}
.prescriptionimg {
	width: 23px !important;
}

.prescriptionimgsize {
	width: 33px !important;
}

.pre-40{margin-right: 20px;}

.pre-40r{margin-left: 40px;}


.prescription .card {
	border: initial;
	background: #fffffffa;
	border-radius: 6px;
	box-shadow: 0px 1px 11px -1px #ccc;
}


/* invoice_css */


.invoice_mai_bc{  background-color: #fff;
	height: 400px;
	box-shadow: 2px 1px 8px 3px #ccc;
	border-radius: 6px;
	margin-top: 14px;
	margin-left: 20px;
	margin-right: 20px;
  }


  .bgc-default-tp1 {
    background-color: rgba(121,169,197,.92)!important;
}



.invoicetable th:first-child {
	border-radius: 4px 0px 0px 4px ;
}


.invoicetable .table thead th {
	background-image: linear-gradient(#EAEEEB, #EAEEEB) !important; 
}


.invoicetable table {
	border-spacing: 0px 6px;
	border-collapse: inherit;
}

.invoicetable th:last-child {
	border-radius: 0px 4px 4px 0px;
}

.invoicetable .table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #d6dadd;
	background: #153b64;
	color: #000;
	border: none !important;
	font-size: 13px !important;
	font-weight: 600;
	padding: 10px !important;
}


.invoicetable tr {
	background-color:transparent;
}

.invoicetable .table td, .invoicetable .table th {
	padding:0px !important;
	vertical-align: top;
	border-top: 0px solid #dee2e6;
}


.contity tbody th:first-child {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
  }


  .curepad2 {
	padding: 0px;
	border-bottom: 2px solid #E9EDF0;
}

.pad2020{padding: 20px;}


.table_pad_pad{padding-left: 20px;
	padding-right: 20px;}


	.cure-ruppe {
		width: 10px !important;
	  }

	  .classth{font-size: 12px !important;
		color: #000 !important;
		font-weight: normal !important;}




		.curepadtable {
			padding-top: 5px;
			border-bottom: 2px solid #E9EDF0;
			padding-bottom: 5px;
			margin-left: 19px;
			margin-right: 19px;
		}

		.row_class{padding-left: 21px;
			padding-top: 20px;}

			.row_class p{width: 220px;}

			.cure-ru{ width: 20px !important;}

			.line_height_4{  line-height: 3;}




			/* Notifications */

			.notifications_bc { background-color: #fff;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
				margin-top: 19px;
				border-left: 9px solid #58ADC4;
				height: 70px;
				border-radius: 6px;
				padding-top: 14px;
		  }


		  .cure-noti {
			width: 28px !important;
		}

		.notifications_odd {
			
			border-left: 9px solid #A5E9D6 !important;
		
		}

		.notifications_bc p{ font-size: 12px;}

		.notifications_bc h3{font-size: 12px;font-weight: normal;padding-left: 10px;}

		.notification_eye{ width: 15px;}

		.timenoti{width: 13px; margin-left: 20px;}


		/* rooms_css */


		.rooms {
			width: 18px !important;
			margin-top: 7px;
			margin-right: 10px;
		}

		.room b {
			font-weight: bold;
			position: relative;
			top: 4px;
		}


		.clinictab {
			border-radius: 6px;
			margin-top: 6px;
			height: 37px;
			background: rgb(69,172,103);
			background: -moz-linear-gradient(top, rgba(69,172,103,1) 0%, rgba(69,170,102,1) 3%, rgba(71,172,104,1) 4%, rgba(69,170,100,1) 5%, rgba(71,171,101,1) 11%, rgba(74,171,102,1) 12%, rgba(74,170,99,1) 16%, rgba(76,172,101,1) 18%, rgba(74,170,99,1) 19%, rgba(80,170,100,1) 36%, rgba(81,168,97,1) 37%, rgba(85,171,100,1) 47%, rgba(85,168,98,1) 47%, rgba(88,170,98,1) 57%, rgba(88,168,95,1) 61%, rgba(91,168,96,1) 62%, rgba(94,170,96,1) 70%, rgba(92,168,96,1) 71%, rgba(95,168,97,1) 72%, rgba(97,167,94,1) 87%, rgba(101,169,96,1) 92%, rgba(101,167,93,1) 93%, rgba(104,168,94,1) 100%);
			background: -webkit-linear-gradient(top, rgba(69,172,103,1) 0%,rgba(69,170,102,1) 3%,rgba(71,172,104,1) 4%,rgba(69,170,100,1) 5%,rgba(71,171,101,1) 11%,rgba(74,171,102,1) 12%,rgba(74,170,99,1) 16%,rgba(76,172,101,1) 18%,rgba(74,170,99,1) 19%,rgba(80,170,100,1) 36%,rgba(81,168,97,1) 37%,rgba(85,171,100,1) 47%,rgba(85,168,98,1) 47%,rgba(88,170,98,1) 57%,rgba(88,168,95,1) 61%,rgba(91,168,96,1) 62%,rgba(94,170,96,1) 70%,rgba(92,168,96,1) 71%,rgba(95,168,97,1) 72%,rgba(97,167,94,1) 87%,rgba(101,169,96,1) 92%,rgba(101,167,93,1) 93%,rgba(104,168,94,1) 100%);
			background: linear-gradient(to bottom, rgba(69,172,103,1) 0%,rgba(69,170,102,1) 3%,rgba(71,172,104,1) 4%,rgba(69,170,100,1) 5%,rgba(71,171,101,1) 11%,rgba(74,171,102,1) 12%,rgba(74,170,99,1) 16%,rgba(76,172,101,1) 18%,rgba(74,170,99,1) 19%,rgba(80,170,100,1) 36%,rgba(81,168,97,1) 37%,rgba(85,171,100,1) 47%,rgba(85,168,98,1) 47%,rgba(88,170,98,1) 57%,rgba(88,168,95,1) 61%,rgba(91,168,96,1) 62%,rgba(94,170,96,1) 70%,rgba(92,168,96,1) 71%,rgba(95,168,97,1) 72%,rgba(97,167,94,1) 87%,rgba(101,169,96,1) 92%,rgba(101,167,93,1) 93%,rgba(104,168,94,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45ac67', endColorstr='#68a85e',GradientType=0 );

			margin-left: 15px;
margin-right: 15px;
margin-top: 22px;
		}


		.clinictab h3{padding-left: 10px;
			padding-top: 10px;
color: #fff;
font-size: 13px;}


.roomsul_bc {
	background-color: #F9FAFE;
	height: 174px;
	padding: 32px 30px;
	margin-left: 0px !important;
	border-radius: 6px;
	/* padding-bottom: 140px; */
}


.rooms_bc {
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	padding-bottom: 2%;
	padding-top: 13px;
	min-height: 760px;
}

.bed_icon{	width: 40px !important;
	margin-top: 7px;
	/* margin-right: 10px; */
	text-align: center;}

	.roomsul_bc li{ list-style-type: none; float: left; margin-right: 7px;}

	.clinich4 h4 {
		color: #58A961;
		font-size: 13px;
		font-weight: 600;
		padding: 17px 7px;
		padding-bottom: 8px;
	}

	
	.clinich5 h4 {
		color: #1D4290;
		font-size: 13px;
		font-weight: 600;
		padding: 17px 7px;
		padding-bottom: 8px;
	}


	.clinich5 h4 {
		color: #598FFF;
		font-size: 13px;
		font-weight: 600;
		padding: 17px 7px;
		padding-bottom: 8px;
	}


	.redruppe {
		width: 9px !important;
		margin-top: 0px;
		margin-right: 6px;
	}

	.roomsul_bc h6{font-size: 13px;
		font-weight: bold;
		color: red; text-align: center;}


		.numberbc {
			border-radius: 36px;
			margin-top: 6px;
			height: 37px;
			height: 25px !important;
			/* width: 24px !important; */
			text-align: center;
			color: #000;
			/* box-shadow: 1px 5px 8px 2px #ccc; */
			font-weight: 500;
			margin-left: 7px;
			margin-top: 9px;
			padding: 1px 10px;
			font-size: 12px;
		}
	

		.lastlipad{ margin-right: 0px !important;}

		.plusicon {
			width: 10px !important; margin-right: 4px !important;
	
		}






.numberbc_non_ac {
	border-radius: 36px;
	margin-top: 6px;
	height: 37px;
	background: rgb(69,172,103);
	
background: rgb(33,70,148); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(33,70,148,1) 0%, rgba(16,52,128,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(33,70,148,1) 0%,rgba(16,52,128,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(33,70,148,1) 0%,rgba(16,52,128,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#214694', endColorstr='#103480',GradientType=0 ); /* IE6-9 */
	height: 24px !important;
	width: 24px !important;
	text-align: center;
	color: #ffff;
	box-shadow: 1px 5px 8px 2px #ccc;
	font-weight: 600;
	margin-left: 7px;
	margin-top: 9px;
}


.ac{ border-radius: 36px;
	margin-top: 6px;
	height: 37px;
	background: rgb(69,172,103);
	
background: #598FFF; /* Old browsers */
	height: 24px !important;
	width: 24px !important;
	text-align: center;
	color: #ffff;
	box-shadow: 1px 5px 8px 2px #ccc;
	font-weight: 600;
	margin-left: 7px;
	margin-top: 9px;}



	






	
    .wrappernew{
		position: relative;
		margin-left: 0%;
		margin-top: 0%;
		}
		
		.tooltiproom:hover span {
		opacity: 1;
		filter: alpha(opacity=100);
		top: -6em;
		left: 0em;
		z-index: 99;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
		}
		
		.box333 b {
		  color: #000;
		}
		
		.tooltiproom span {
			background: none repeat scroll 0 0 #FFFFFF; /*-- some basic styling */
			color: #F0B015;
			font-family: 'Helvetica';
			font-size: 0.8em;
			font-weight: normal;
			line-height: 1.5em;
			padding: 16px 15px;
			/* width: 240px; */
			top: -4em;  /*-- this is the original position of the tooltip when it's hidden */
			left: 20em;
			margin-left: 0;	
			/*-- set opacity to 0 otherwise our animations won't work */
			opacity: 0;
			filter: alpha(opacity=0);  	
			position: absolute;
			text-align: center;	
			z-index: 2;
			text-transform: none;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease-in-out;
			box-shadow: 2px 1px 16px 1px rgba(0, 0, 0, 0.1);
			border-radius: 6px;
		}
		
		.tooltiproom span:after {
			border-color: #FFFFFF rgba(0, 0, 0, 0);
			border-style: solid;
			border-width: 15px 15px 0;
			bottom: -13px;
			content: "";
			display: block;
			left: 31px;
			position: absolute;
			width: 0;
			
		}

	
		.line_hover{ width: 160px !important;
			margin-top: 0px;
			margin-right: 0px;}

			.modal-open{padding-right: 0px !important;}





			.user-curetab b {
				color: red;
				font-weight: 600;
			}




			/* profile */

			.hdt h3 {
				padding-top: 29px;
				margin-bottom: 0;
				font-size: 14px;
				font-weight: 600;
			}


			.linedo_profile {
				border-bottom: 2px solid #E9EDF0;
				margin-bottom: 8px;
				margin-top: 15px;
			}

			.calcav {
				width: 33px !important;
				margin-top: 0px;
				position: relative;
				top: 30px;
				/* left: 165px; */
				text-align: right;
				font-size: ri;
				float: right;
			}

.mobilenumber{background: rgb(69,172,103); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,172,103,1) 0%, rgba(69,170,102,1) 3%, rgba(71,172,104,1) 4%, rgba(69,170,100,1) 5%, rgba(71,171,101,1) 11%, rgba(74,171,102,1) 12%, rgba(74,170,99,1) 16%, rgba(76,172,101,1) 18%, rgba(74,170,99,1) 19%, rgba(80,170,100,1) 36%, rgba(81,168,97,1) 37%, rgba(85,171,100,1) 47%, rgba(85,168,98,1) 47%, rgba(88,170,98,1) 57%, rgba(88,168,95,1) 61%, rgba(91,168,96,1) 62%, rgba(94,170,96,1) 70%, rgba(92,168,96,1) 71%, rgba(95,168,97,1) 72%, rgba(97,167,94,1) 87%, rgba(101,169,96,1) 92%, rgba(101,167,93,1) 93%, rgba(104,168,94,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,172,103,1) 0%,rgba(69,170,102,1) 3%,rgba(71,172,104,1) 4%,rgba(69,170,100,1) 5%,rgba(71,171,101,1) 11%,rgba(74,171,102,1) 12%,rgba(74,170,99,1) 16%,rgba(76,172,101,1) 18%,rgba(74,170,99,1) 19%,rgba(80,170,100,1) 36%,rgba(81,168,97,1) 37%,rgba(85,171,100,1) 47%,rgba(85,168,98,1) 47%,rgba(88,170,98,1) 57%,rgba(88,168,95,1) 61%,rgba(91,168,96,1) 62%,rgba(94,170,96,1) 70%,rgba(92,168,96,1) 71%,rgba(95,168,97,1) 72%,rgba(97,167,94,1) 87%,rgba(101,169,96,1) 92%,rgba(101,167,93,1) 93%,rgba(104,168,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,172,103,1) 0%,rgba(69,170,102,1) 3%,rgba(71,172,104,1) 4%,rgba(69,170,100,1) 5%,rgba(71,171,101,1) 11%,rgba(74,171,102,1) 12%,rgba(74,170,99,1) 16%,rgba(76,172,101,1) 18%,rgba(74,170,99,1) 19%,rgba(80,170,100,1) 36%,rgba(81,168,97,1) 37%,rgba(85,171,100,1) 47%,rgba(85,168,98,1) 47%,rgba(88,170,98,1) 57%,rgba(88,168,95,1) 61%,rgba(91,168,96,1) 62%,rgba(94,170,96,1) 70%,rgba(92,168,96,1) 71%,rgba(95,168,97,1) 72%,rgba(97,167,94,1) 87%,rgba(101,169,96,1) 92%,rgba(101,167,93,1) 93%,rgba(104,168,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45ac67', endColorstr='#68a85e',GradientType=0 ); /* IE6-9 */
	border-radius: 6px;
	padding-top: 5px;
	color: #ffff;}


	.allpads{ padding: 0px; margin: 0px;}


	/* Previous Presription Details */

	.bdr{ border-right: 1px solid #D9D9D9;}

	.previouspresription_background{  background-color: #D5F0DA;
		height: 43px;
		border-radius: 8px;
		padding: 11px;
		justify-content: space-between;
	  }
			

	  .previouspresription_background h6{font-size: 14px;
	  margin-top: 2px;}

	  .addbranch{ width: 20px;}

	  .addbranch_text{  font-size: 12px;
		font-weight: bold;
	  }


	  .addressp{font-weight: normal;
		padding: 4px; font-size: 11px;}

		.btnlinehight{ margin: 0px; padding: 0px; line-height: 0px !important;}

		.addbranch{ width: 20px;}

		.userimgwidthnew {
			width: 18px;
			padding-top: 8px;
			margin-left: 13px;
		}

		.usertext p{font-size: 12px;}


		.table-styled {
			border-collapse: separate;
			border-spacing: 0 0px;
			margin: 0px 0;
			table-layout: fixed;
		}



		.table-striped tbody tr:nth-of-type(2n+1) {
			background-color: rgba(0,0,0,.05);
		}


		th:nth-child(2n+1) {
			background:transparent !important;
		}


		tr:nth-child(even) {background: #FFF}
		tr:nth-child(odd) {background: #FFF}


		.paddingmrgvideo a{cursor: pointer;}


		.paddingmrgvideo [data-tooltip]::before {
			content: attr(data-tooltip);
			display: block;
			position: absolute;
			top: -267%;
			left: 50%;
			margin-left: -4.75em;
			/* width: 11em; */
			text-align: center;
			border-radius: 4px;
			background: #227405;
			color: white;
			font-size: 0.8em;
			line-height: 1.1;
			padding: 0.75em 0.95em;
		}



		.reup [data-tooltip]::before {
			content: attr(data-tooltip);
			display: block;
			position: absolute;
			top: -250%;
			left: 50%;
			margin-left: -4.75em;
			/* width: 11em; */
			text-align: center;
			border-radius: 4px;
			background: #227405;
			color: white;
			font-size: 0.8em;
			line-height: 1.1;
			padding: 0.75em 0.95em;
		}



		.invoiceup [data-tooltip]::before {
			content: attr(data-tooltip);
			display: block;
			position: absolute;
			top: -250%;
			left: 10%;
			margin-left: -4.75em;
			/* width: 11em; */
			text-align: center;
			border-radius: 4px;
			background: #227405;
			color: white;
			font-size: 0.8em;
			line-height: 1.1;
			padding: 0.75em 0.95em;
			z-index: 1000000;
		}

		.reup [data-tooltip]::after {
			display: none;
			}
		

		.invoiceup [data-tooltip]::after {
			display: none;
			}


		.padingcancel [data-tooltip]::before {

			position: absolute;
			top: 33%;
			left: 0%;

			right: -020%;

			/* width: 12em; */

			z-index: 10000;


		}

		.padingcancel [data-tooltip]::after {
			display: none;
			}
  
		.paddingmrgvideo [data-tooltip]::after {
		display: none;
		}




		[data-tooltip] {
			position: relative
		  }
		  
		  [data-tooltip]::before, [data-tooltip]::after {
			opacity: 0;
			margin-top: 1.5em;
		}



	[data-tooltip]::before {
	content: attr(data-tooltip);
	display: block;
	position: absolute;
	top: -27%;
	left: 50%;
	margin-left: -4.75em;
	width: 8em;
	text-align: center;
	border-radius: 4px;
	background: #227405;
	color: white;
	font-size: 0.8em;
	line-height: 1.1;
	padding: 0.75em 0.95em;

}
		  
			[data-tooltip]::after {
				content: "";
				border: 10px solid transparent;
				border-top-color: #227405;
				position: absolute;
				top: -7px;
				left: 45%;
				margin-left: -10px;
			}
		  
		  [data-tooltip]:hover {
			  cursor: help;
			}
		  
		  [data-tooltip]:hover::before,
			[data-tooltip]:hover::after {
			  opacity: 1;
		
			}



			.pading_0{padding: 0;}




			.table-styled thead th, .table-styled tbody td {
				border: 1px solid var(--border-color);
				border-left: 0;
				border-right: 0;
				box-shadow: 0px 0px 20px rgb(0 0 0 / 3%);
				vertical-align: middle;
				font-size: 10px !important;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}


			.doctoe-sedual .nav-tabs .nav-link {
				border: initial;
				padding: 5px;
				font-size: 13px;
				text-transform: capitalize;
				letter-spacing: .5px;
				padding: 5px 0px;
				border-radius: 0;
				margin: 0;
				text-transform: capitalize;
				border-radius: 10px;
				margin-left: 8px;
				margin-bottom: 8px;
				margin-right: 8px;
			}
		  


			.doctoe-sedual .nav-link.active {
				border: initial;
				position: relative;
				color: #fff;
				background: #5ea860;
				/* background: linear-gradient(45deg,#17a3ae,#a550d4) !important; */
				/* height: 40px; */
				padding: 5px 0px;
				border-radius: 0;
				/* margin: 0; */
				text-transform: capitalize;
				border-radius: 10px;
				margin-left: 8px;
				margin-bottom: 8px;
				margin-right: 8px;
				color: #fff;
			}

			.doctoe-sedual .nav-link {
				border: initial;
				padding: 5px;
				font-size: 13px;
				text-transform: capitalize;
				letter-spacing: .5px;
				margin-left: 8px;
				margin-bottom: 8px;
				margin-right: 8px;
			}

			.doctoe-sedual .nav-link.active h3{ color: #fff; }

			.doctoe-sedual .nav-link.active p{ color: #fff;}

			.doctoe-sedual .nav-link.active .dish{  display: none;}

			.doctoe-sedual .nav-link.active .dish_block{  display: block;}

			.countof .dish_block{ display: none;}

			.doc1{margin: 0 auto;
				width: 100%;
				display: flex;
				align-content: center;
				justify-content: center;}


				.headerfordoctorss{height: 60px;}


				.headerfordoctorss-96 {
					width: 20px;
					margin-right: 14px;
					margin-top: 4px;
				}
			

		.doctoract thead th:first-child {
			padding-top: 13px;
			padding-bottom: 13px;
			padding-left: 0px;
			width: 70px;
		}


		.rowdata_bc{padding-bottom: 12px;}


	.mrtopl{margin-top: -2px;}

	.badge-solid-purple {
		color: #fff;
		background-color: #65a860;
		border: none;
		padding: 5px 12px;
		font-weight: 500;
		line-height: 1.2;
		font-size: 11px;
	}


	.notification {
	
		padding: 8px 0px;
		position: relative;
		display: inline-block;
		border-radius: 2px;
	  }
	  
	  /* .notification:hover {
		background: red;
	  }
	   */
	   .notification .badge {
		position: absolute;
		top: -4px;
		right: -2px;
		padding: 5px 7px;
		border-radius: 50%;
		background: red;
		color: white;
	}



	.rescheduleappointment{  width: 20px;
		margin-left: 20px;
	  }

	/* Add_doctors_css */


	.cure-add_doctor{ width: 30px !important;}

	.cure-doctor{padding: 12px;
	color: #fff;
	font-size: 13px;
	font-weight: 500;}

	.field-icon {
		float: right;
		margin-left: -25px;
		margin-top: -25px;
		position: relative;
		z-index: 2;
		color: #51AA63;
	}

	
	.profileprofilemain-footer-cure {
		background-color: #FCFBFB;
		border: 1px solid #EBEBEB;
		height: 52px;
		border-radius: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 0px;
		margin-right: 7px;
	}


