body {
  background-color: #f8f3f0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #444444; }

h1, h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #dfdfdf; }

h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a, a:visited {
  color: #7376df; }

a:hover, a:focus, a:active {
  color: #6365d2;
  text-decoration: none; }

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background-color: #7376df; }

h1 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 600; }

h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 500; }

h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 500; }

h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 500; }

h5 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: 600;
  text-transform: uppercase; }

h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8rem;
  letter-spacing: .1rem;
  font-weight: 500;
  text-transform: uppercase; }

p {
  color: #7c7c7c;
  font-size: .9rem; }

.card-inverse p {
  color: #fff;
  font-size: .9rem; }

.card h1 {
  border: none;
  margin: 0;
  padding-bottom: .5rem; }

.no-padding {
  padding: 0; }

.clear {
  clear: both; }

.justify-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.text-muted {
  color: #a0a0a0 !important; }

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dfdfdf;
  margin: 2rem auto; }

.circle {
  border-radius: 499rem; }

.jumbotron {
  padding: 3rem 2rem;
  background-color: #f7f7f7; }

.btn-primary, .btn-primary.disabled, .btn-primary:disabled, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary.active, .show > .btn-outline-primary.dropdown-toggle, .card-primary, .page-item.active .page-link, .list-group-item.active {
  background-color: #7376df !important;
  border-color: #7376df !important; }

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  background-color: #6365d2 !important;
  border-color: #6365d2 !important; }

.btn-outline-primary {
  color: #7376df !important;
  border-color: #7376df !important; }

.btn-outline-primary.disabled, .btn-outline-primary:disabled, .btn-link, .page-link, .text-primary {
  color: #7376df !important; }

.btn-link:focus, .btn-link:hover, .page-link:focus, .page-link:hover, a.text-primary:focus, a.text-primary:hover {
  color: #6365d2 !important; }

.dropdown-item.active, .dropdown-item:active, .custom-control-input:checked ~ .custom-control-indicator, .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-indicator, .nav-pills .nav-item.show .nav-link, .badge-primary, .progress-bar, .bg-primary {
  background-color: #7376df !important;
  background-image: none; }

.nav-pills .nav-link.active, .badge-primary[href]:focus, .badge-primary[href]:hover, a.bg-primary:focus, a.bg-primary:hover {
 background-color: #f8f3f0 !important;
border-left: 3px solid #c3a279; color: #c3a279;}

.form-control:focus {
  border-color: #7376df !important; }

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff !important;
  background-color: #7376df;
  border-color: #7376df; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #6365d2;
  border-color: #6365d2; }

.btn-outline-primary, .btn-outline-primary:visited {
  color: #7376df;
  border-color: #7376df;
  background: none; }

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: #7376df;
  border-color: #7376df;
  color: #fff; }

.btn-secondary {
  border-color: #7c7c7c;
  background-color: #7c7c7c;
  color: #fff; }

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  border-color: #444444;
  background-color: #444444;
  color: #fff; }

.btn-outline-secondary, .btn-outline-secondary:visited {
  color: #7c7c7c;
  border-color: #7c7c7c;
  background: none; }

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  border-color: #7c7c7c;
  background: #7c7c7c;
  color: #fff; }

.btn {
  border-radius: 499rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: .8rem;
  padding: .75rem 1.25rem;
  cursor: pointer; }

.btn:focus {
  outline: none;
  border: 0;
  box-shadow: none; }

.btn-xs {
  font-size: .6rem;
  padding: .5rem 1rem; }

.btn-sm {
  font-size: .7rem;
  padding: .5rem 1rem; }

.btn-md {
  font-size: .8rem;
  padding: .75rem 1.25rem; }

.btn-lg {
  font-size: .9rem;
  padding: 1rem 1.5rem; }

.btn-subtle {
  border: none;
  background: #f7f7f7;
  color: #7376df;
  -webkit-appearance: none;
  cursor: pointer; }

.btn-subtle:hover, .btn-subtle:focus, .btn-subtle:active {
  color: #fff;
  background-color: #7376df;
  outline: none; }

.btn-stripped {
  border: none;
  background: none !important;
  color: #444444 !important;
  -webkit-appearance: none;
  cursor: pointer; }

.btn-stripped:hover, .btn-stripped:focus, .btn-stripped:active {
  color: #7376df;
  background-color: none;
  outline: none; }

.dropdown a {
  color: #444444; }

.dropdown a:hover, .dropdown a:active, .dropdown a:focus {
  background-color: #7376df;
  color: #fff; }

.sidebar {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
 /* padding: 20px;*/
  padding-left: 0;
  padding-right: 0;
  z-index: 1000;
/*  padding-bottom: 70px;*/
 /* overflow-x: hidden;
  overflow-y: auto;*/
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  background: #4c4743; }
  .sidebar a {
    color: #acaba7;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .1rem;
    padding: .75rem 2rem; }
.sidebar em {
    font-size: 1rem;
    width: 40px;
	color: #acaba7;
}
	
  .sidebar h1 {
   color: #fff;
border: none;
font-size: 0.9rem;
padding: 0rem 1rem;
text-transform: uppercase;
letter-spacing: .2rem;
background-color: #ed6c44;
height: 91px;
margin-bottom: 0 !important;
margin-top: 0 !important;}
	
	
	
  .sidebar .site-title {
    margin-top: .5rem;
    margin-bottom: 1.75rem; }
    .sidebar .site-title a {
      font-size: .9rem;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer; }
    .sidebar .site-title a:hover {
      background: none !important; }
  .sidebar .nav {
    margin-bottom: 20px; }
  .sidebar .nav-item {
    width: 100%; }
  .sidebar .nav-item + .nav-item {
    margin-left: 0; }
  .sidebar .nav-link {
    border-radius: 0; }
  .sidebar .logout-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 85%;
    text-align: center;
    border-radius: .3rem; }

#wrapper.toggled .sidebar-nav {
  display: none; }

#menu-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem; }
  
  .sidebar a:hover{ color:#c3a279;}

.sidebar a:focus, .sidebar a:visited, .sidebar a:hover, .sidebar a:active {
 background-color: #f8f3f0 !important;
border-left: 3px solid #c3a279;  }

@media screen and (max-width: 576px) {
  #wrapper .sidebar-nav {
    display: none; }

  #wrapper.toggled .sidebar-nav {
    display: block !important; }

  .sidebar {
    position: inherit;
    padding-bottom: 0px;
    margin-bottom: 1rem; }

  #menu-toggle {
    background-color: #6365d2; } }
@media screen and (min-width: 576px) {
  #wrapper.toggled .sidebar-nav {
    display: block; }

  #menu-toggle {
    display: none; } }
.card-title {
  margin-top: -.25rem;
  padding-bottom: .25rem;
  margin-bottom: 1rem; }

.card-subtitle {
  margin-top: -.75rem;
  padding-bottom: .5rem; }

.card-title-btn-container {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  list-style: none; }

.alert {
  color: #fff; }
  .alert a {
    color: #fff !important; }

.no-left-margin {
  margin-left: 0; }

.page-header {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0rem;
/*  margin-bottom: 2.4rem;*/
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  height: auto; height: 92px;
background-color: #fff; }
  .page-header h1 {
    display: inline;
    border: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%; }

.profile-photo {
  border-radius: 499rem;
  float: left; }

.username {
  float: left;
  text-align: left;
  margin: 0 0 0 1rem; }
  .username h1, .username h2, .username h3, .username h4 {
    margin-bottom: 0;
    text-transform: none !important;
    letter-spacing: 0 !important; }

.user-dropdown .dropdown-toggle::after {
  margin-top: 1rem;
  margin-left: 1rem; }

.user-progress {
  margin-top: 1rem; }
  .user-progress .profile-photo {
    max-height: 75px;
    max-width: 75px !important; }

.progress-custom {
  margin-top: .25rem; }

.progress-label {
  text-align: center !important;
  color: #7376df;
  font-size: .75rem;
  margin-top: -.25rem; }

.progress-bar {
  height: .3rem; }

#calendar, .datepicker-inline {
  width: 100%;
  text-align: center; }

#calendar table {
  width: 100%; }

.datepicker-switch {
  font-size: 16px;
  height: 46px !important; }

.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #dfdfdf; }

.datepicker table tr td {
  padding: 2px 2px !important;
  cursor: pointer;
  border-radius: .3rem; }

#calendar th {
  text-align: center !important;
  cursor: pointer;
  border-radius: .3rem; }

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
  color: #ffffff;
  background-color: #7376df;
  text-shadow: none;
  border-color: #285e8e; }

.datepicker table tr td span:hover, .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover, .datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
  background: rgba(0, 0, 0, 0.05); }

.panel-heading .glyphicon {
  margin-right: 10px; }

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #eeeeee;
  left: 25px;
  margin-right: -1.5px; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: calc( 100% - 65px );
  float: right;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 10px 20px;
  position: relative;
  box-shadow: none; }

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  left: -11px;
  display: inline-block;
  border-top: 11px solid transparent;
  border-right: 11px solid #dfdfdf;
  border-left: 0 solid #dfdfdf;
  border-bottom: 11px solid transparent;
  content: " "; }

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  left: -10px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 10px solid transparent;
  content: " "; }

.timeline > li > .timeline-badge {
  color: #444444;
  width: 46px;
  height: 46px;
  line-height: 2.8rem;
  font-size: 1.4rem;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0px;
  margin-right: -25px;
  margin-left: 3px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  z-index: 100;
  border-radius: 9999px; }

.timeline-badge.primary {
  background-color: #7376df !important;
  color: #fff !important;
  border: none !important; }

.timeline-badge.success {
  background-color: #8ad919 !important; }

.timeline-badge.warning {
  background-color: #ffb53e !important; }

.timeline-badge.danger {
  background-color: #f9243f !important; }

.timeline-badge.info {
  background-color: #30a5ff !important; }

.article {
  padding: 1rem 0;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 1rem; }

.article:first-child {
  padding: 0 0 10px 0; }

.article:last-child {
  padding: 0 0 10px 0;
  border: none;
  margin-bottom: 0; }

.article h4 a {
  margin-bottom: 10px; }

.article .date {
  text-align: center;
  font-size: 1.8rem;
  margin: 0 auto;
  display: block; }

.article .date .text-muted {
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .1rem; }

.todo-list-item {
  list-style: none;
  padding: .75rem 1rem .15rem 1rem;
  border-radius: .3rem; }
  .todo-list-item .fa {
    margin: 0 .25rem 0 0;
    color: #444444; }
  .todo-list-item .fa:hover {
    color: #7376df; }
  .todo-list-item input[type=checkbox] {
    margin: 0 0.5rem 0 0 !important;
    border: 1px solid #333; }

.todo-list {
  padding: 0;
  margin: -15px;
  background: #fff;
  color: #444444; }

input[type=checkbox]:checked + label {
  /*text-decoration: line-through;*/
  color: #a0a0a0; }

.todo-list-item:hover, a.todo-list-item:focus {
  text-decoration: none;
  background-color: #f7f7f7; }

.todo-list-item .trash .fa:hover {
  color: #ef4040; }

.todo-list-footer {
  margin: -20px;
  margin-top: 2rem; }
  .todo-list-footer .btn {
    border-radius: .4rem; }
	
	
	
	.menu9{font-size: 12px;
padding-top: 31px;
padding-left: 12px;
padding-bottom: 13px;
color: #b3aeaa;}
	
	
	
	.menu2{font-size: 12px;
padding-top: 5px;
padding-left: 12px;
padding-bottom: 13px;
color: #b3aeaa;}
	
	.logopa{margin-top: 10px;
margin-left: -15px;}

@media (min-width:1200px){

.leftmenu .col-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 18.667% !important;
}



.leftmenu .pl-4 {
    padding-left: 2rem !important;
}

}


  @media only screen and (min-width: 1024px) and (max-width: 1200px)  {.leftmenu .col-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 25.667% !important;
}

/*.pl-4 {
    padding-left:inherit !important;
}*/


}

  @media only screen and (min-width: 320px) and (max-width: 768px)  {
.album .btn-warning {
    color: #fff;
    background-color: #ffb230;
    border-color: #ffb230;
    border-radius: 4px;
    padding: 2px;
}
  }
.hrbox{box-shadow: 0px 1px 0 #56514d;}

.hrbox2{box-shadow: 0px 1px 0 #56514d; margin:0; padding:0;}
.nav-pills li b:last-child{ background-color: #ed6c44;
padding: 0px 5px 1px 6px;
border-radius: 65%;
color: #fff;
font-weight: normal;
font-size: 11px;
height: 25px;
width: 25px;
text-align: right;
margin-left: 11%;
position: relative;
top: -11px;}





/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
font-size: 12px;
padding-left: 2.95em;
cursor: pointer;
color: #acaba7;

display: initial !important;

}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
        border-top-width: 0px;
        border-top-style: none;
        border-top-color: currentcolor;
    border-top: 1px solid rgba(0,0,0,.1);
}

.hrnav{display: inherit;}

.crt{width: 123px;
margin: 10px auto;}


/* checkbox aspect */


[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
content: '';
position: absolute;
left: 0; top: 0;
width: 1.25em; height: 1.25em;
border: 2px solid #f4ac31;
background: #4c4743;
border-radius: 7px;
box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}


.test2 label:before {
content: '';
position: absolute;
left: 0; top: 0;
width: 1.25em; height: 1.25em;
border: 2px solid #e26a44 !important;
background: #4c4743;
border-radius: 7px;
box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.test3 label:before {
content: '';
position: absolute;
left: 0; top: 0;
width: 1.25em; height: 1.25em;
border: 2px solid #bc9d76 !important;
background: #4c4743;
border-radius: 7px;
box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}




/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
top: .2em;
left: 0.2em;
font-size: 1.0em;
line-height: 0.8;
color: #09ad7e;
transition: all .2s;
  font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}


.name{ color:#feb230; font-size: 12px;  padding: 0;margin: 2px 0 0 0; font-weight: bold;}

.name2{ color:#ed6c44; font-size: 12px; float: left;padding: 0;margin: 2px 0 0 0; font-weight: bold;}

.name3{ color:#c3a279; font-size: 12px; float: left;padding: 0;margin: 2px 0 0 0; font-weight: bold;}

.ulpad{ padding-left:32px;}

.ulpad li {

    list-style-type: square; color: #ffb230;

}

.likebuttons{ float: left;
margin-right: 5px;}
.likebuttons2{  width:42px;}

.liked{margin-top: 2px; margin-right: 10px;}

.subline {
color: #e3dedb;
font-weight: normal;
font-size: 12px;
clear: both;
position: relative;
top: -9px;
}

.clr{ clear:both;}

.text2{ color:ed6c44 !important;}

.em22 {
    font-size: 1rem;
    width: 40px;
    color: #ed6c44 !important;
}

.liclass{clear: both;
margin-top: 23%;}

.liked em {
    font-size: 1rem;
    width:inherit !important;
    color: #acaba7;
}
.menu3 {
    font-size: 11px;
    padding-top: 5px;
    padding-left: -12px;
    padding-bottom: 10px;
    color: #b3aeaa;
    position: relative;
    left: -17px;
}

.btn-subtle2 {
    border: none;
    background: none !important;
    color: #999592;
    -webkit-appearance: none;
    cursor: pointer;
    padding: 0 !important;
    margin-top: 9px;
	font-size: 18px;
}

.motog form {
  width: 8em;
  margin: 0 auto;
}
.undername{ font-size:12px; color:#fff; font-weight:normal;}



.drd .dropdown-menu {


	margin: .125rem -86px 22px !important;

}

.name .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 1.0em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
    margin-top: -17px;
}
.name strong{margin: 5px 0 0 0;}

.drd .card-title-btn-container {
	position: relative !important;

top:inherit !important;
right:0 !important;

}






.progress_container{
padding: 0px;
width: 197px;
height: 11px;
	overflow:hidden;
	background:url(../images/progress_container.png);
	}
	
.progress_bar{
	height:11px;
	width:0px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:url(../images/progress_bar.png);
	}
	
.progressbar{padding:15px;}

.progressbar2{padding: 0px 0 0 51px;}

.ts{font-size: 12px;
color: #fff;}

.slip{font-size: 11px;
color: #fff;}

.progressbar p{margin-top:1px; margin-bottom: 0;}


  .tipsy { padding: 5px; font-size: 11px; position: absolute; z-index: 100000; }
  .tipsy-inner { padding: 6px 8px 6px 8px; background-color: #ed6c44; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-arrow { position: absolute; background:url(../images/tipsy.gif) no-repeat top left; width: 9px; height: 5px; }
  .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
  .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
  .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
  .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
  .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }	
  
  
  
  
  
  
/*  search*/
  
  
  
  .searchin input[type=text] {
 width: 271px;
    box-sizing: border-box;
    border:none;
	position: relative;
left: -19px;
z-index: 10000;
top: 1px;
    border-radius: 20px;
    font-size: 13px;
    background-color: white;
    background-image:url(../images/searchicon.png);
  background-position: 6px 7px; 
    background-repeat: no-repeat;
    padding:  7px 11px 1px 34px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	height: 31px;
color: #c8cfcf;
font-style: italic;
}

.searchin input[type=text]:focus {
    width: 100%;
}
  
  
  .slid{margin-left: 8px;
margin-top: 8px !important;
float: left;}
  
  .slid em{ font-size:20px; margin-left:20px;}
  
  .usr{margin-top: 17px; padding:0;}
  
  .loggout{margin-top: -17px;}
  
  .log{background-color:#4bc5c3; height:45px; width:50px; text-align: center; color:#fff;}
  
  .sound{background-color: #f8f3f0;
height: 45px;
width: 50px;
text-align: center;
color: #ccc;}

.margtop{ margin-top: 14px;}
  
  .h4user{font-size: 13px;
color: #aeb4c1;
margin-top: 5px;}
  
  
  .album{margin-top: 2px;
margin-left: 172px;}
  
  .album em{font-size: 25px;
/*padding: 0px 15px 0 0px;*/}
  
  .album .btn-warning {
color: #fff;
background-color: #ffb230;
border-color: #ffb230;
border-radius: 4px;
padding: 4px;
text-align: left;
}
  
 .album b{font-size: 12px;
font-weight: normal;
text-transform: capitalize;
top: -6px;
position: relative;}
  
    @media only screen and (min-width: 320px) and (max-width: 700px)  { .searchin input[type="text"] {
    width:inherit !important;
    box-sizing: border-box;
    border: none;
    position: relative;
    left: 0px !important;
    z-index: 10000;
    top: 3px;
    border-radius: 20px;
    font-size: 13px;
    background-color: white;
    background-image: url(../images/searchicon.png);
    background-position: 6px 7px;
    background-repeat: no-repeat;
    padding: 7px 11px 1px 34px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 31px;
    color: #c8cfcf;
    font-style: italic;
}}
  @media only screen and (min-width: 320px) and (max-width: 1200px)  {
	.page-header {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
    height: auto;
    height:inherit !important;
    background-color: #fff;
} 
.searchin input[type="text"] {
    width:inherit !important;
    box-sizing: border-box;
    border: none;
    position: relative;
    left: -19px;
    z-index: 10000;
    top: 3px;
    border-radius: 20px;
    font-size: 13px;
    background-color: white;
    background-image: url(../images/searchicon.png);
    background-position: 6px 7px;
    background-repeat: no-repeat;
    padding: 7px 11px 1px 34px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 31px;
    color: #c8cfcf;
    font-style: italic;
}
/*.pl-4 {
    padding-left:inherit !important;
}*/

  .album{margin-top: 2px;
margin-left: 0px;}


}




/*middlepart*/

.paddinglef{padding-left: 2%;}

.sta b{ color:#8a92a5; font-size:18px; margin-left:10px; font-weight:normal;}

.sta{padding-bottom: 42px;}

.sta2{padding-bottom: 62px;}

.margleft{margin-right:20px;}
.contain {
 display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 12px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color: #8a92a5;
padding-top: 3px;
}

/* Hide the browser's default checkbox */
.contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.contain:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.contain input:checked ~ .checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.contain input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.contain .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid #4bc5c3;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.rightphanal .card{border:none !important; border-radius:0px !important;}

.no-padding-right{ padding-right:0; padding-left:0;}



  @media only screen and (min-width: 320px) and (max-width: 690px)  {
	  
	  .sta2 {
    padding-bottom: 68px !important;
}
	  
	  
	  }
	  
	  
	  @media only screen and (min-width: 320px) and (max-width: 1200px)  {  
	.gread1{width: 100% !important;
float:none;
background-color: #fff;
padding: 14px 9px 0 9px;} 

  .gread2{width: 100% !important;
float:none;
margin-left: 0px !important;
background-color: #fff;
padding: 9px; margin-top: 9px;} 


.padding-r {
    padding-right: 15px !important;
}

.padding-l {
    padding-left: 15px !important;
}

	 .no-padding-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
} 
	  }
	  
	  @media only screen and (min-width: 992px) and (max-width: 1200px)  {
		  
		  
		 	 .no-padding-right {
    padding-right: 0px !important;
    padding-left: 15px !important;
}  
		  
		    }  
	 
.gread1{width: 67%;
float: left;
background-color: #fff;
padding: 14px 9px 0 9px;}

.gread1_ewt{width: 100%;
float: left;
background-color: #fff;
padding: 27px 22px 19px 18px; margin-top:20px;}


.gread1_ewt_new{width: 100%;
float: left;
background-color: #fff;
padding: 27px 22px 19px 18px; margin-top:20px;}

















.gread1_ewt h1{font-size: 12px;
font-weight: normal;
color: #a7adbb;
margin-top: 0px;
border-bottom: none;
padding-bottom: 0px; margin-bottom: 0;}

.gread1_ewt b{font-weight: normal; font-size: 12px;
color: #4bc5c3;}

.gread1_ewt strong{font-weight: normal; font-size: 9px; color:#9198aa;}

.gread1_ewt span{font-weight: normal; font-size: 9px; color: #4bc5c3;}

.mrg123{margin-bottom: -13px;}



.mrg123 em{color: #dee2e5;
font-size: 16px;
margin-right: 10px;}
	  
	  .gread2{width: 32%;
float: left;
margin-left: 6px;
background-color: #fff;
padding: 9px;}


.gread1 h1{font-size: 12px;
font-weight: normal;
color: #a7adbb;
margin-top: 7px;
border-bottom: none;
padding-bottom: 13px;}

.gread1 b{font-weight: normal;
color: #4bc5c3;}

.cardcct .card-title-btn-container {
    position: absolute;
    top:inherit !important;
    right:inherit !important;
    list-style: none;
}


.cardcct .btn-subtle2 {
    border: none;
    background: none !important;
    color: #4bc5c3;
    -webkit-appearance: none;
    cursor: pointer;
    padding: 0 !important;
    margin-top: -4px;
    font-size: 18px;
}


.tdbutton{padding: 6px 20px;
font-size: 11px; background-color:#ed6c44 !important; border:none !important;}


.tdbutton2{padding: 6px 31px;
font-size: 11px; background-color:#ffb230 !important; border:none !important;}

.tdbutton3{padding: 6px 38px;
font-size: 11px; background-color:#c3a279 !important; border:none !important;}

.tdbutton4{padding: 6px 35px;
font-size: 11px; background-color:#5e5955 !important; border:none !important;}

.tdbutton5{padding: 6px 20px;
font-size: 11px; background-color:#f6b6a2 !important; border:none !important;}

.nomrg{margin-bottom:0px;}

.colricon{ color:#d2d0cf !important;}

.colricon2{ color:#ed6c44 !important;}

.tabl tr{border-bottom:1px solid #f4f4f4;}

.tabl p{ color:#3a4044; font-size:12px;}

.tabl td{vertical-align: middle;    padding: 0.5rem !important;}

.tabl span{ color:#ccccce; font-size:10px;}

.allcss p{ font-size:10px; color:#a4abb9; margin:7px 0 0 0;}

.allcss b{ font-weight: 600; color:#a4abb9;}

.gread2 .btn{padding: 0px 3px 1px 1px !important;
font-size: 11px;
background-color: #dee2e5 !important;
border-radius: 0;
border-color: #dee2e5 !important;
height: 32px;}


 #example { height: 403px; overflow: hidden; resize: both; }
 
   #example2 { height: 403px; overflow: hidden; resize: both; }
   
      #example3 { height: 150px; overflow: hidden; resize: both; }
   
   .showmore .btn{
	background-color: #4bc5c3 !important;
	width: 215px;
	border-radius: 4px;
	border: none;
	margin-top: 24px; font-size: 9px;
letter-spacing: 1px; padding:15px 32px 15px 20px;
}


.uploadmanger em{ color:#8a92a5; padding-right:10xp; margin-top:50px;}

.uploadmanger b{ color:#8a92a5; font-size:10px;
font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; margin-left: 13px;
position: absolute;
margin-top: 2px; font-weight:normal;
}

.imgsrc{margin-top:25px;}


.imgsrc p{font-size: 11px;
margin-left: 9px; color:#9199aa; margin-bottom: 15px;}

.imgsrc b{font-size: 9px;
 color:#9199aa;}
 
 
 
 .imgsrc .progress_container{
padding: 0px;
width: 165px;
height: 6px;
	overflow:hidden;
	background:url(../images/progress_container2.png) !important;
	margin-left:9px;
	}
	
.imgsrc .progress_bar{
	height:6px;
	width:0px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:url(../images/progress_bar2.png) !important;
	}



 .imgsrc2 .progress_container{
padding: 0px;
width: 197px;
height: 7px;
	overflow:hidden;
	background:url(../images/progress_container3.png) !important;
	margin-left:9px;
	}
	
	.imgsrc2{margin-top: 90px;}
	.imgsrc2 p{font-size: 8px;
color: #8a92a5;
text-align: center;
margin-top: 6px;}
	
.imgsrc2 .progress_bar{
	height:7px;
	width:0px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:url(../images/progress_bar3.png) !important;
	}



  .showmore em{font-size: 13px;
text-align: left;
padding-right: 13px;}

.b2{background-color: #fff;
color: #dee2e5;
padding: 8px 8px 9px 5px;
vertical-align: middle;}


.cl1{background-color: #ffb230;
width: 100%;
text-align: center;
    padding-bottom: 28px;
    padding-top: 28px;
}

.cl2 {
    background-color: #c3a279 !important;
}

.cl3 {
    background-color: #4c4743 !important;
} 
.margin-20{margin-top:20px;}

.cl1 p{font-size: 65px;
font-weight: normal;
color: #fff;
text-align: center; margin-bottom: -25px;}


.cl1 dl{font-size: 9px;
font-style: italic;
color: white;
text-transform: lowercase;}


.cl1 span{font-size: 10px;
color: #fff;}


.cl2{background-color: #ed6c44;
width: 100%;     padding-bottom: 28px;
    padding-top: 28px;
 text-align:center;
}

.cl2 p{font-size: 65px;
font-weight: normal;
color: #fff;
text-align: center; margin-bottom: -25px;}


.cl2 dl{font-size: 9px;
font-style: italic;
color: white;
text-transform: lowercase;}


.cl2 span{font-size: 10px;
color: #fff;}

.padding-l{padding-left:5px;}

.padding-r{padding-right:5px;}

.hml li:hover{background-color:#ffb230;}

.hml li a:hover{background-color:inherit !important; color:#000; font-size:12px; padding-left:10px;}

.hml li a{background-color:inherit !important; color:#000; font-size:12px; padding-left:10px;}


.usr .btn{
    border-radius: 499rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .8rem;
    padding: .75rem 1.25rem 0 16px !important;
    cursor: pointer;
}





#search {

}

.fatime{margin-left: -26px;
color: #dee2e5;
font-weight: normal;
font-size: 12px;}



#search input[type="text"] {
	background:url(../images/search-white.png) no-repeat 10px 6px #fff;
	border: 0 none;
	font: bold 12px Arial,Helvetica,Sans-serif;
	color: #777;
	width: 200px;
	padding: 6px 15px 6px 35px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	/* text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); */
	/* -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; */
	/* -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; */
	/* box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; */
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	border: 1px solid #dee2e5;
}
   

#search input[type="text"]:focus {
    width: 210px;
    }
	
	
		.bcname ul{ list-style-type:none; padding-left:0px; margin-left:0;}
	
	.bcname ul li{ list-style-type: none;
padding-left: 0px;
margin-left: 0;
border-bottom: 1px solid #f1f4f7;
clear: both;
overflow: hidden;}


.bcname ul li:first-child{ margin-top:10px;}

.bcname span{ float:left;}

.bcname p {
    font-size: 10px;
    padding-top: 10px;
    color: #c2c6cb;}
	
	.colortag{color:#fff; font-size:12px; margin-right:5px;}
	.colortag2{color:#fff; font-size:12px; margin-right:15px; margin-left:2px;}
	
	
	.bcname b{ color:#9fa7b5; font-size:9px;}
	
	
	.bcname li:hover{background-color: #ed6c44;}
	
	.bcname li a:hover{background-color: #ed6c44; color:#fff !important;}


.bcname li p:hover{background-color: #ed6c44; color:#fff !important;}
.bcname li b:hover{background-color: #ed6c44; color:#fff !important;}


.drag{background-color: #fff;
height: 200px;
border: 1px dotted #ccc;
clear: both;
margin-top: 100px;}





.drag p{text-align: center;
margin-top: 17px;
font-size: 12px;
color: #7c868f;}


.drag .btn {
	background-color: #f7f7f7 !important;
	/* width: 215px; */
	border-radius: 4px;
	border: 1px solid #ebebeb !important;
	margin-top: 24px;
	font-size: 9px;
	letter-spacing: 1px;
	color: #9ea5b4 !important;
	padding: 10px 13px 10px 18px;
	text-align: center;
	/* margin: 0 auto; */
	margin-left: 56px;
}

.uniimg{margin-left: 18px;
margin-top: -8px;}

/*.goldbrg{margin-top: 30px;}*/

.gimg{width: 333px;}

.gimg_25{width: 52%;}


.goldbrg p{ color: #454a4e;
font-size: 9px;
margin-top: 8px;
margin-left: 17px;
margin-right: 22px;}

.goldbrg2 p{color: #454a4e;
font-size: 9px;
margin-top: 8px;
margin-left: 17px;
margin-right: 0px;} .goldbrg2 b{ color:#d4d4d6; font-size:9px; }

.goldbrg b{ color:#d4d4d6; font-size:9px; }




.uploadmanger{ clear:both;}


.goldbrg{
    float: left;
    width: 182px;}
	
	
	.goldbrg2{float: left;
width: 153px;}


	  @media only screen and (min-width: 320px) and (max-width: 360px)  {

.floatnone{ float::none !important; width:100%; } .gread1 h1 {
    font-size: 12px;
    font-weight: normal;
    color: #a7adbb;
    margin-top: 7px;
    border-bottom: none;
    padding-bottom: 0px;
}


	  }
	  
	  @media only screen and (min-width: 320px) and (max-width: 990px)  { 
	  .imgrepovencive{
  max-width: 100%;
}
 #example { height: 403px; overflow: hidden; resize: both; min-width:479px; }
 
   #example3{width:470px;}
	  }
	  .iconcolor{ color:#e9e9e9 !important; font-size:16px;}
	  
	
	  
	  
	  
	  
	  
	  .gread2 .dropdown-menu {

    top: 100%;
    right: 0px !important;
	left: inherit !important;
  
}
